/*  Misc. Globals  */

.globalHeader {
	font-size: 28px;
}
.globalClose {
	font-size: 24px;
	text-decoration: none;
}
.opaque {
    opacity: 0 !important;
}
.noPadding {
	padding: 0 !important;
}
.percentPill {
    border-radius: 50px;
    padding: 2px 10px;
	color: #ffffff;
	white-space: nowrap;
}
.percentPillBlue {
	background-color: #035699;
}
.percentPillGrey {
	background-color: #EBEBEB;
	color: #000000;
}
.percentPillDarkGrey {
	background-color: #707070;
}

/*  Square Blocks  */

.squareMargin {
    margin-top: 100%;
}
.squareBlock {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
}

/*  Global Normal 'anchor' Button Style  */

.globalButton {
    display: block;
    background-color: #2699FB;
    border: 1px solid #2699FB;
    text-decoration: none;
    padding: 15px 0;
    color: #ffffff;
	text-align: center;
    font-size: 18px;
    width: 200px;
    margin: 30px 0 auto auto;
	-webkit-box-shadow: 0px 6px 33px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 6px 33px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 6px 33px 0px rgba(0,0,0,0.25);
}
.globalButton:hover {
    color: #2699FB !important;
    background-color: transparent !important;
}

/*  Sponsor Card Section  */

.newDealRowWithSponsorCard {
	padding: 60px 30px;
	background-color: #F7F7F7;
	position: relative;
	margin-top: 20px;
}
.newDealRowWithSponsorCardClose {
	position: absolute;
	top: 15px;
	right: 30px;
	color: #000000;
}
.newDealRowWithSponsorCardClose:hover {
	color: #2699FB;
}
.newDealRowWithSponsorCardEdit {
	position: absolute;
	top: 15px;
	right: 30px;
	color: #2699FB;
	font-size: 12px !important;
	text-decoration: none;
}
.newDealRowWithSponsorCardEdit:hover {
	color: #343434;
}
.newDealRowWithSponsorHeader {
	margin: 0;
	padding-bottom: 20px;
}
.newDealRowWithSponsorCardTextDiv {
	padding: 10px;
}
.newDealRowWithSponsorCardTitle {
	margin: 0;
	font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 400;
	font-size: 14px;
}
.newDealRowWithSponsorCardInfo {
	margin: -5px 0 0 0;
	font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 600;
	font-size: 20px;
}
.newDealRowWithSponsorCardInfoLink {
	color: #2699FB;
	text-decoration: none;
	margin: -5px 0 0 0;
	display: block;
}
.newDealRowWithSponsorCardInfoLink:hover {
	color: #000000;
}

/*  Input Section  */

form input[type=text], form input[type=tel], form input[type=email], form input[type=password], form input[type=""], form textarea {
    width: 100%;
    padding: 12px 13px !important;
    border: 1px solid rgba(112, 112, 112, .5);
    box-sizing: border-box !important;
    margin: 20px 0 0 0 !important;
    background-color: transparent;
    font-size: 16px;
    color: #000000;
    transition-duration: .4s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

form textarea:focus {
    width: 100%;
}
/*
form input[type=text]:hover, form input[type=tel]:hover, form input[type=email]:hover, form input[type=""]:hover, form textarea:hover {
	    border: 1px solid #2B292E;
	color: #003D73;
	transition-duration: .4s;
	opacity: .75;
}
*/

select:hover {
	cursor: pointer !important;
}
form ::-webkit-input-placeholder {
 color: rgba(112, 112, 112, .5) !important;
 opacity: 1; /* for older chrome versions. may no longer apply. */
 transition-duration: .4s;
}
 form :-moz-placeholder { /* Firefox 18- */
 color: rgba(112, 112, 112, .5) !important;
 opacity: 1;
 transition-duration: .4s;
}
 form ::-moz-placeholder {  /* Firefox 19+ */
 color: rgba(112, 112, 112, .5) !important;
 opacity: 1;
 transition-duration: .4s;
}
 form :-ms-input-placeholder {
 color: rgba(112, 112, 112, .5) !important;
 opacity: 1;
 transition-duration: .4s;
}
form input:hover::-webkit-input-placeholder {
 color: #2699FB !important;
 opacity: 1; /* for older chrome versions. may no longer apply. */
 transition-duration: .4s;
}
form textarea:hover::-webkit-input-placeholder {
 color: #2699FB !important;
 opacity: 1; /* for older chrome versions. may no longer apply. */
 transition-duration: .4s;
}
form input:hover::-moz-placeholder { /* Firefox 18- */
 color: #2699FB !important;
 opacity: 1;
 transition-duration: .4s;
}
form input:hover::-moz-placeholder {  /* Firefox 19+ */
 color: #2699FB !important;
 opacity: 1;
 transition-duration: .4s;
}
form input:hover::-ms-input-placeholder {
 color: #2699FB !important;
 opacity: 1;
 transition-duration: .4s;
}
form button[type="submit"] {
    display: block;
    background-color: #2699FB;
    border: 1px solid #2699FB;
    text-decoration: none;
    padding: 15px 0;
    color: #ffffff;
    font-size: 18px;
    width: 200px;
    margin: 30px 0 auto auto;
	-webkit-box-shadow: 0px 6px 33px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 6px 33px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 6px 33px 0px rgba(0,0,0,0.5);
}
form button[type="submit"]:hover {
    color: #2699FB;
    background-color: transparent;
}
.dropdownToggleInput {
	margin-top: 20px;
	padding: 13px;
	border-radius: 0;
}
@media(min-width: 900px) {

}

@media (max-width:900px) {

form {
    width: 100%;
}
form button[type="submit"] {
    padding: 10px 0;
    width: 200px;
}
}

/****************************************/
/****************************************/
/*             Select 2                 */
/****************************************/
/****************************************/

.selectBox  {
    width: 100%;
    padding: 12px 13px !important;
    border: 1px solid rgba(112, 112, 112, .5);
/*
	background: url('../img/selectBoxBg.png');
	background-position: left;
	background-size: cover;
	background-repeat: no-repeat;
*/
	background-image:url('../img/selectArrow.png');
    background-position: 96.5% 50%;
	background-repeat: no-repeat;
    box-sizing: border-box !important;
    margin: 20px 0 0 0 !important;
    background-color: transparent;
    font-size: 16px;
    color: #000000;
    transition-duration: .4s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 600;
	letter-spacing: 1.5px;
}
.selectBox option {
	color: #000000;
}

/****************************************/
/****************************************/
/*             Select 2                 */
/****************************************/
/****************************************/

.selectBox2 {
    margin-top: 20px;
}
.select2-selection {
    font-size: 16px;
    -webkit-box-shadow: 0;
    box-shadow: 0;
/*    background-color: #fff;*/
    border-radius: 0 !important;
    color: #000000;
    outline: 0;
    margin: 20px 0 0 0;
    min-height: 48px;
    transition-duration: .4s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	/*  text-align: left;*/
}
.select2-selection:hover {
	border-color: #2699FB !important;
	color: #2699FB !important;
}
/*
.selectBoxJs1  .select2-selection:hover {
	border-color: #2699FB !important;
	color: yellow !important;
}
*/
.select2-selection__placeholder {
	color: #C4C3C3 !important;
	font-size: 16px;
}
.select2-selection__placeholder:hover {
	color: #2699FB !important;
}
.select2-selection__rendered {
    margin: 12.5px 0 0 10px;
}
.select2-selection__rendered:hover {
    color: #2699FB !important;
	transition-duration: .4s;
}
/*
.select2-selection__arrow {
  margin-top: 30px !important;
}
*/
.select2-container--default .select2-selection--single .select2-selection__arrow {
/*    width: 40px;*/
    font-size: 20px;
    padding: 4px 12px;
/*    height: 27px;*/
    position: absolute;
    top: 30px !important;
    right: 30px !important;
	color: #2699FB;
}
.select2-container--default .select2-selection--single .select2-selection__clear {
/*    width: 40px;*/
    font-size: 30px;
    padding: 4px 12px;
/*    height: 27px;*/
    position: absolute;
    top: -4px !important;
    right: 30px !important;
	color: #2699FB;
}
.select2-selection__placeholder {
/*  color: #f00 !important;*/
}
  
.selectedBox {
    background: url('../img/selectedBoxBg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

/****************************************/
/****************************************/
/*  Global Panel Navigation and Switch  */
/****************************************/
/****************************************/

.globalNavLinkDiv {
    text-align: center;
    padding: 15px 0;
    border: 2px solid #F5F5F5;
}
.globalNavLink {
    text-decoration: none;
    color: #2699FB;
    font-size: 16px;
    margin: 0 30px;
}
.globalNavLink:visited {
    color: #2699FB;
}
.globalNavLink:hover {
    color: #000000;
}
.globalNavLink:active {
    color: #000000;
}
.globalNavLinkActive {
    color: #000000 !important;
}
.globalPanelNavLink {
    text-decoration: none;
    color: #2699FB;
}
.globalPanelNavLinkActive {
    color: #000000 !important;
}
.globalPanelNavLink:hover {
    color: #000000;
}
.toggleSwitchDiv {
    display: flex;
    margin-top: 5px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 25px;
}
.switch input {
    display: none;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 2.5px;
    right: 0;
    bottom: 0;
    background-color: #2699FB;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2.5px;
    bottom: 2.25px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
.toggleSwitchLabel {
    margin-top: 2.5px;
    color: #C1C0C0;
}
.toggleSwitchLabel1 {
    margin-right: 10px;
}
.toggleSwitchLabel2 {
    margin-left: 10px;
}
input:checked + .slider {
    background-color: #2699FB;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2699FB;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}

/****************************************/
/****************************************/
/*                Table                 */
/****************************************/
/****************************************/

table > tbody > tr > td {
    vertical-align: middle !important;
}
.borderless td, .borderless th {
    border: none !important;
}
label {
    margin: 0;
}
.globalTableClose {
	font-size: 24px;
	color: #2294E3;
}
.globalTableClose:hover {
	color: #000000;
}

/****************************************/
/****************************************/
/*           Sub Section Navbar         */
/****************************************/
/****************************************/

.customContainer {
	max-width: 1250px
}
.globalSubNavLinkDiv {
/*    text-align: center;*/
    padding: 60px 0;
/*    border: 2px solid #F5F5F5;*/
}
.globalSubNavLink {
    text-decoration: none;
    color: #2699FB;
    font-size: 16px;
    margin: 0 30px 0 0;
}
.globalSubNavLink:visited {
    color: #2699FB;
}
.globalSubNavLink:hover {
    color: #000000;
}
.globalSubNavLink:active {
    color: #000000;
}
.globalSubNavLinkActive {
    color: #000000 !important;
}

/****************************************/
/****************************************/
/*           Side Section Navbar         */
/****************************************/
/****************************************/

.sideNavLinkDiv {
    /*    text-align: center;*/
    padding: 60px 0;
	/*    border: 2px solid #F5F5F5;*/
}
.sideNavLink {
    text-decoration: none;
    color: #2699FB;
    font-size: 16px;
    margin: 0 30px 0 0;
}
.sideNavLink:visited {
    color: #2699FB;
}
.sideNavLink:hover {
    color: #000000;
}
.sideNavLink:active {
    color: #000000;
}
.sideNavLinkActive {
    color: #000000 !important;
}