/************************************/
/************************************/
/************************************/
/*************  Navbar  *************/
/************************************/
/************************************/
/************************************/

#menu {
    border: none;
    border-radius: 0;
    z-index: 3;
    margin-bottom: 0;
    background-color: #1D3854;
    height: 70px;
    padding: 0;
}
.logoLinkMain {
    line-height: 70px;
    margin-left: 15px;
    z-index: 2;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}
.logoLinkMain:hover {
    color: #ffffff;
    opacity: .5;
}
.linkMenu {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    display: flex;
}
.linkMenu, .linkMenu:active, .linkMenu:visited {
    background-color: #BF8B65 !important;
    margin-bottom: 0;
    height: 60px;
}
.linkMenu:hover {
/*	background-color: #D1C9C4 !important;*/
}
.menuButton {
    width: 30px;
    height: auto;
    margin-top: 5px;
}
#menu .myNavbar > li > .link {
    color: #ffffff;
    font-size: 12px;
    margin-top: 10px;
    letter-spacing: 2.5px;
}
#menu .myNavbar > li > .link:hover {
    opacity: .7;
}
.settingsIcon {
    width: 15px;
    height: auto;
}
.notificationsIcon {
    width: 15px;
    height: auto;
}
.notificationsNumber {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #43C1F3;
    font-size: 16px;
}
.profileIcon {
    width: 15px;
    height: auto;
}
.activeLink {
    color: #BF8B65 !important;
}

@media(min-width: 900px) {
#menu .myNavbar {
    margin-right: 30px;
}
}

@media(max-width: 900px) {
}
/*
@media (min-width: 768px) and (max-width: 1150px) {
.navbar-collapse.collapse {
	display: none !important;
}
.navbar-collapse.collapse.in {
	display: block !important;
}
.navbar-header .collapse, .navbar-toggle {
	display: block !important;
}
.navbar-header {
	float: none;
}
}
*/

/************************************/
/************************************/
/************************************/
/***********  Navbar 2  *************/
/************************************/
/************************************/
/************************************/

#menu2 {
    border: none;
    border-radius: 0;
    z-index: 2;
    margin-bottom: 0;
    background-color: #182E45;
    height: 70px;
    padding: 0;
	position: fixed;
	width: 100%;
	top: 70px;
}
#menu2 .myNavbar2 {
/*
  display: inline-block;
  float: none;
*/
/*	margin-left: -300px;*/
}

#menu2 .navbar-collapse {
  text-align: center;
}
#menu2 .myNavbar2 > li {
/*
	   float: none;
      display: inline-block;
*/
	padding-left: 15px;
	padding-right: 15px;
}
#menu2 .myNavbar2 > li > .link {
    color: #ffffff;
    font-size: 12px;
    margin-top: 10px;
    letter-spacing: 2.5px;
}
#menu2 .myNavbar2 > li > .link:hover {
    color: #2699FB;
}
.activeLink {
    color: #BF8B65 !important;
}
.navbarPortfolioHeader {
	color: #ffffff;
	font-size: 20px;
    margin-left: 15px;
}
.xlsIconImg {
	width: 25px;
	height: auto;
}
.pdfIconImg {
	width: 25px;
	height: auto;
}
.menu2SelectLi {
	margin-left: 30px;
	width: 350px;
	position: relative;
}

/*  Select 2  */

.selectpicker:after {
  font-family: FontAwesome;
  content: "\f078";
  color: blue;
  font-size: 14px;
  right: 15px;
}
.selectpicker {
  line-height: 30px;
	margin-top: 30px;
  background-color: yellow !important;
}
.caret {
  display: none;
}
.selectBoxNavbar {
    width: 100%;
    padding: 12px 13px !important;
    border: 1px solid rgba(256, 256, 256, .5);
	background: url('../img/selectBoxBg.png');
	background-position: left;
	background-size: cover;
	background-repeat: no-repeat;
    box-sizing: border-box !important;
    margin: 10px 0 0 0 !important;
    background-color: transparent;
    font-size: 16px;
    color: #ffffff;
    transition-duration: .4s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.selectBoxNavbar option {
	color: #000000;
}
.navbarLevel2Close {
	color: #2699FB !important;
	font-style: normal;
	font-size: 20px;
	margin-top: 10px;
}

@media(min-width: 900px) {
#menu2 .myNavbar2 {
/*    margin-right: 30px;*/
}
}

@media(max-width: 1367px) {
#menu2 .myNavbar2 > li {
	padding-left: 5px;
	padding-right: 5px;
}
.menu2SelectLi {
	margin-left: 30px;
	width: 200px;
}
	.selectBoxNavbar {
    width: 100%;
}
}
/*
@media (min-width: 768px) and (max-width: 1150px) {
.navbar-collapse.collapse {
	display: none !important;
}
.navbar-collapse.collapse.in {
	display: block !important;
}
.navbar-header .collapse, .navbar-toggle {
	display: block !important;
}
.navbar-header {
	float: none;
}
}
*/

/************************************/
/************************************/
/************************************/
/***********  Navbar 3  *************/
/************************************/
/************************************/
/************************************/


.navbarLevel3Section {
	background-color: #182E45;
	display: flex;
	position: fixed;
	width: 100%;
	z-index: 2;
}
.navbarLevel3Div {
	margin: auto 60px auto auto;
	padding: 20px 0;
}
.navbarLevel3Div > * {
	vertical-align: top;
}
.navbarLevel3LinkDiv {
	display: inline-block;
	margin: 0 30px;
}

.navbarLevel3LinkHeader {
	color: #ffffff;
	font-family: 'Times New Roman', serif;
	font-style: italic;
	font-size: 20px;
}
.navbarLevel3LinkHeaderOpaque {
	opacity: 0;
}
.navbarLevel3Link {
	text-decoration: none;
	color: #ffffff;
	display: block;
	font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 400;
	font-size: 12px;
}
.navbarLevel3Link:hover {
	color: #2699FB;
}

/*
@media (min-width: 768px) and (max-width: 1150px) {
.navbar-collapse.collapse {
	display: none !important;
}
.navbar-collapse.collapse.in {
	display: block !important;
}
.navbar-header .collapse, .navbar-toggle {
	display: block !important;
}
.navbar-header {
	float: none;
}
}
*/
