@charset "UTF-8";
/*  Global Styles  */

html, body {
    width: 100%;
    height: 100%;/*
	overflow-x: hidden;
	*//*	-webkit-overflow-scrolling: touch;*/
}
.overflowHidden {
    overflow: hidden !important;
}
.overflowXHidden {
    overflow-x: hidden !important;
}
.overflowYHidden {
    overflow-y: hidden !important;
}
.noPadding {
    padding: 0 !important;
}
.displayNone {
    display: none !important;
    transition-duration: .4s;
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 5000;
    background-repeat: no-repeat;
    background-position: 50% 50% no-repeat;
    background-color: #121212;
}
.text-center {
    text-align: center;
}
.padding-top {
    padding-top: 70px;
}
.padding-bottom {
    padding-bottom: 10px;
}
#wrapper {
    padding-left: 0%;
    padding-right: 0%;
    margin: 0 auto;
    width: 100%;
    overflow-x: hidden;
}
.bg {
    display: inline-block;
    height: 100vh;
    width: 100%;
}
.center-middle {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;/*border-width: 10px;
	border-color: #000000;*/
}
.vertical-align-main {
    display: flex;
    align-items: center;
    justify-content: center;
}
.vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
}
.vertical-align > [class^="col-"], .vertical-align > [class*=" col-"] {
    display: flex;
    align-items: center;
    justify-content: center;
}
.vcenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.centerScreen {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
a, a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
}
.absolute {
    position: absolute;
}
.hover-delay {
    transition-duration: .4s;
}
@font-face {
    font-family: "futura-pt", sans-serif;
    font-style: normal;
}
.futuraBook {
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 400;
}
.futuraMedium {
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 500;
}
.futuraDemi {
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 600;
}
.futuraHeavy {
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 700;
}
.futuraBold {
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: 'Playfair Display', serif;
}
.playfairBold {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}
@font-face {
    font-family: 'Times New Roman', serif;
}
.timesNewRoman {
    font-family: 'Times New Roman', serif;
}
.bold {
    font-weight: 700;
}
.col-xs-5ths, .col-sm-5ths, .col-md-5ths, .col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
.col-sm-5ths {
    width: 20%;
    float: left;
}
}

@media (min-width: 992px) {
.col-md-5ths {
    width: 20%;
    float: left;
}
}

@media (min-width: 1200px) {
.col-lg-5ths {
    width: 20%;
    float: left;
}
}
.centerBlock {
    display: table;
    margin: auto;
}
.vcenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.vbottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
/* width */
::-webkit-scrollbar {
 width: 4px;
height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
 background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
 background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
 background: #555;
}
/*	End Global */

/*  Site Specific Global  */

.letterSpacePlayfair {
    letter-spacing: 1px;
}
.letterSpaceFuturaBook {
    letter-spacing: 1.5px;
}
.letterSpaceFuturaDemi {
    letter-spacing: 4px;
}
/************************************/
/************************************/
/************************************/
/*********  New Deal Number  ********/
/************************************/
/************************************/
/************************************/

.newDealStepsSection {
    position: relative;/*	padding: 60px 0 80px 0;*/
}
.newDealStepsSubDiv {
    text-align: center;
}
#dealSearchForm {
    position: absolute;
    top: 45px;
    left: 60px;
}
.dealSearchIcon {
    width: 15px;
    height: auto;
    margin-top: -5px;
}
.dealSearch {
    border: none !important;
    color: #131313;
    padding: 0 0 5px 5px;
    margin: 0;
    width: 250px !important;
    font-size: 16px;
}
.dealSearch:hover {
/*	border: 1px solid #343434;*/
}
#dealSearchForm ::-webkit-input-placeholder {
 color: #131313 !important;
 opacity: 1; /* for older chrome versions. may no longer apply. */
 transition-duration: .4s;
}
 #dealSearchForm :-moz-placeholder { /* Firefox 18- */
 color: #131313 !important;
 opacity: 1;
 transition-duration: .4s;
}
 #dealSearchForm ::-moz-placeholder {  /* Firefox 19+ */
 color: #131313 !important;
 opacity: 1;
 transition-duration: .4s;
}
 #dealSearchForm :-ms-input-placeholder {
 color: #131313 !important;
 opacity: 1;
 transition-duration: .4s;
}
.newDealHeader {
    text-align: center;
    margin: 0;
}

@media(min-width: 900px) {
.newDealStepsSection {
    height: 30vh;
    display: flex;
    padding-bottom: 30px;
}
.newDealStepsDiv {
    margin: auto;
    width: 100%;
}
}
/*  Deal Switch  */

.dealSwitchDiv {
    text-align: center;
    padding-top: 30px;
}
.dealStepText {
    margin-top: 20px;
    margin-left: -50px;
    font-size: 16px;
    text-align: center;
    white-space: nowrap;
}
.dealStep3 {
    margin-left: -70px;
}
.dealSwitchDiv > * {
    display: inline-block;
    vertical-align: middle;
    margin-left: -5px;
}
.dealSwitchBorder {
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    border: 1px solid #C1C0C0;
    border-radius: 50%;
    position: relative;
	transition-duration: .4s;
}
.dealSwitchBorder:hover {
	background-color: #1D3854;
    transition: background-color 0.4s ease;
    -webkit-filter: drop-shadow(0px 20px 20px rgba(0,0,0,.3)); /* Safari 6.0 - 9.0 */
    filter: drop-shadow(0px 20px 20px rgba(0,0,0,.3));
	transition-duration: .4s;
}
.dealSwitchNumber {
    margin: 0;
    margin-top: 5px;
    text-decoration: none;
    display: block;
    font-size: 36px;
    font-weight: 700;
}
.dealSwitchNumber:hover {
    color: #ffffff !important;
}
.dealSwitchNumber:visited, .dealSwitchNumber:active {
    color: #C1C0C0;
}
.dealSwitchLine {
    width: 15%;
    height: 3px;
    background-color: #C1C0C0;
    transition: background-color 0.4s ease;
}
.switchActive {
    background-color: #1D3854;
    transition: background-color 0.4s ease;
    -webkit-filter: drop-shadow(0px 20px 20px rgba(0,0,0,.3)); /* Safari 6.0 - 9.0 */
    filter: drop-shadow(0px 20px 20px rgba(0,0,0,.3));
}
.dealSwitchNumberActive {
    color: #ffffff !important;
}
.switchInactive {
    background-color: #C1C0C0;
    transition: background-color 0.4s ease;
}
.dealSwitchNumberInactive {
    color: #C1C0C0;
}
/************************************/
/************************************/
/************************************/
/**********  New Deal Form  *********/
/************************************/
/************************************/
/************************************/

.newDea1SubDiv {
/*	margin: auto;*/
}
.newDeal1SubHeader {
    margin: 0;/*    padding-bottom: 10px;*/
}
#newDeal1 {
    /*	padding: 0 30px;*/
    width: 90%;
    padding: 0 0 0 60px;/*    margin: auto;*/
}
.newDeal1SubCol {
    padding: 0;
}

@media(min-width: 1200px) {
.newDeal1Row {
    height: calc(70vh - 70px);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
}
.newDeal1Col {
    /*    margin: auto;*/
    padding-top: 30px;
    padding-bottom: 60px;
}
.newDealStepsDiv {
}
.newDeal1SubRow {
}
.newDeal1Col {
/*
    display: flex;
    flex-direction: column;
    justify-content: center;
*/
}
}

@media (max-width:1200px) {
.newDeal1Div {
    width: 100%;
    padding: 0 45px;
}
}
/********************************/
/*****  New Deal 1 Col 2  *******/
/********************************/

.newDeal1Col2 {
/*    height: 100%;*/
}
.newDealColNoSponsor {
    background-color: #F7F7F7;
    display: flex;
    height: calc(70vh - 70px);
}
.newDealAddSponsorButton {
    font-size: 16px;
    text-decoration: none;
    display: block;
    width: 200px;
    text-align: center;
    padding: 15px 0;
    margin: auto;
    color: #ffffff;
    background-color: #035699;
    border: 1px solid #035699;
    -webkit-box-shadow: 0px 6px 33px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 6px 33px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 6px 33px 0px rgba(0,0,0,0.5);
}
.newDealAddSponsorButton:hover {
    color: #035699;
    background-color: transparent;
}
.newDealAddSponsorButton2 {
    font-size: 16px;
    text-decoration: none;
    display: block;
    width: 200px;
    text-align: center;
    padding: 15px 0;
/*    margin: auto;*/
	margin-bottom: 20px;
    color: #ffffff;
    background-color: #035699;
    border: 1px solid #035699;
    -webkit-box-shadow: 0px 6px 33px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 6px 33px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 6px 33px 0px rgba(0,0,0,0.5);
}
.newDealAddSponsorButton2:hover {
    color: #035699;
    background-color: transparent;
}

@media(min-width: 2500px) {
.newDealColNoSponsor {
/*	height: 1000px;*/
}
}
/********************************/
/***********  Overlay  **********/
/********************************/

.newDealOverlayCol {
    position: relative;
}
.overlayDiv {
    position: absolute;
    /*    display: none;*/
    width: 95%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(29,56,84,0.5);
    z-index: 2;
    cursor: not-allowed;
    transition-duration: 1s;
}
/********************************/
/****  Add Sponsor Business  ****/
/********************************/

.newDealAddSponsorHeaderRow {
    margin-top: -7px;
}
.newDealAddSponsorHeader {
    margin: 5px 0 0 0;
}
.newDealAddSponsorCol {
    padding-right: 10px;
    padding-left: 10px;
}
.newDealAddSponsorCancelCol {
    text-align: right;
}
.newDealAddSponsorCancel {
    color: #2699FB;
}
.newDealAddSponsorCancel:hover {
}
/*  Add Sponsor Form  */

#newDealAddSponsorForm {
    width: 90%;
    padding: 0 60px 0 0;/*    margin: auto;*/
}
.newDealAddSponsorCol {
    padding: 0 8px;
}

@media(min-width: 900px) {
}

@media (max-width:900px) {
.newDealAddSponsorFormDiv {
    width: 100%;
    padding: 0 45px;
}
}
/*  Checkbox Section  */

.newDealAddSponsorCheckboxRow {
    margin: 15px auto auto auto;
}
/* The container */
.checkContainer {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    /*    margin-bottom: 30px;*/
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*    margin-top: 30px;*/
    padding-top: 2.5px;
    margin: 35px auto 15px auto;
}
/* Hide the browser's default checkbox */
.checkContainer input {
    position: absolute !important;
    opacity: 0 !important;
    cursor: pointer !important;
}
.checkLabel {
    display: block;
    width: 150px;
}
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 50px;
    border: 2px solid #000000;
    box-sizing: border-box;
}
.checkmark + .checkmark {
    border: 1px solid #000000;
}
/* On mouse-over, add a grey background color */
.checkContainer:hover input ~ .checkmark {
    background-color: #ffffff;
}
/* When the checkbox is checked, add a blue background */
.checkContainer input:checked ~ .checkmark {
    background-color: #ffffff;
    border: 7px solid #2294E3;
}
/********************************/
/******  Display Sponsors  ******/
/********************************/

/*  Check Global Style Sheet  */

.newDealColWithSponsor {
    padding-right: 60px;
	overflow-y: scroll !important;
}

@media(min-width: 2500px) {
.newDeal1Row {
    /*		width: 75%;*/
    width: 60%;
    margin: auto;
}
}
/************************************/
/************************************/
/************************************/
/********  New Deal Form 2  *********/
/************************************/
/************************************/
/************************************/

.deal2PropertyNameDiv {
    padding: 0 15px;
}
.deal2PropertyNameRow {
    /*    display: flex;*/
    width: 90%;
    margin: auto;
}
.deal2PropertyNameCol {
/*
    display: flex;
    flex-direction: column;
    justify-content: center;
*/
}
.deal2PropertyNameCol1 {
/*    display: inline-block;*/
}
.deal2PropertyNameRowBorder {
    border: 1px solid #D1D1D1;
}
.deal2PropertyNameSubCol {
    padding: 12px 0;
	text-align: center;
}
.deal2PropertyNameCol2 {
    padding: 0;
}
.deal2PropertyNameLinkDiv {
}
.deal2PropertyNameLink {
    margin: 0 30px;
    /*    top: 15px;*/
    position: relative;
    color: #C1C0C0;
}
.deal2PropertyNameLink:hover {
    font-size: 16px !important;
    color: #2699FB !important;
}
.deal2PropertyNameLinkActive {
    font-size: 16px !important;
    color: #2699FB !important;
}
.deal2PropertyNameLinkClose {
    position: absolute;
    top: -10px;
    color: #2699FB;
}
.deal2PropertyNameLink:hover, .deal2PropertyNameLinkClose:hover {
    color: #131313;
}
.deal2PropertyNameButton {
    font-size: 16px;
    text-decoration: none;
    display: block;
    /*    width: 200px;*/
    text-align: center;
    padding: 12px 0;
    margin-right: 0;
    color: #ffffff;
    background-color: #035699;
    border: 1px solid #035699;
}
.deal2PropertyNameButton:hover {
    color: #035699;
    background-color: transparent;
}
/*  Deal 2 Section  */

.deal2MainRow {
    width: 90%;
    margin: auto;
    padding-bottom: 60px;
}
.deal2MainRow2 {
    padding: 30px 15px 20px 15px;
    display: flex;
}
.deal2MainCol2 {
    margin: auto;
}
.deal2AddressLabel {
    margin-top: 30px;
    text-align: center;
}
.deal2InputAddress {
    position: relative;
}
.deal2MainInputLabelCol {
	padding: 0 !important;
}
.deal2InputLabel {
	margin-top: 30px;
    text-align: center;
}
.deal2SearchDiv {
    position: absolute;
    top: 35px;
    right: 60px;
    color: #2699FB;
}
#deal2MainForm .deal2InputProperty {
    width: 100%;
    padding: 16px 13px !important;
    border: none !important;
    background-color: transparent;
    color: #000000;
    transition-duration: .4s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 32px;
}
/*
#deal2MainForm button[type="submit"] {
    width: 100%;
    padding: 16px 13px !important;
    border: 1px solid rgba(112, 112, 112, .5);
    box-sizing: border-box !important;
    margin: 20px 0 0 0 !important;
    background-color: transparent;
    font-size: 16px;
    color: #000000;
    transition-duration: .4s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
*/

/* Set the size of the div element that contains the map */
		
#deal2Map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;/* The width is the width of the web page */
}
.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    padding: 12px 0;
    display: inline-block !important;
    width: 200px;
    margin: 20px 0 auto auto;
    transition-duration: .4s;
    float: right;
}
.no-js .inputfile + label {
    display: none !important;
}
/* style 1 */

.inputfile-1 + label {
    color: #ffffff;
    background-color: #035699;
    border: 1px solid #035699;
}
.inputfile-1:focus + label, .inputfile-1.has-focus + label, .inputfile-1 + label:hover {
    background-color: transparent;
    color: #035699;
}

@media(min-width: 2500px) {
.deal2PropertyNameRow {
    width: 60%;
}
.deal2MainRow {
    width: 60%;
}
}
/*  Dropzone JS Drag and Drop Uploader  */

.dealDropzoneFilenameDiv {
    border: 1px solid #C4C3C3;
    margin: 20px auto auto auto;
    width: 100%;
    padding: 15px 30px;
}
.dealFilesDZText {
    font-size: 16px;
}
.paperclip {
    color: #2699FB;
    font-size: 10px;
}
.removeDZLink {
    color: #2699FB;
    font-size: 16px;
}
.dealsDZFilename:hover {
    color: #2699FB;
    cursor: pointer;
    transition-duration: .4s;
}
.dealDropzoneUploadDiv {
    border-left: 1px solid #C4C3C3;
    border-right: 1px solid #C4C3C3;
    border-bottom: 1px solid #C4C3C3;
    margin: auto;
    width: 100%;
    padding: 30px;
}
.dealsDropZone {
    background: rgba(196, 195, 195, .29) !important;
    border: 2px dashed #C4C3C3 !important;
    border-image: none;
    margin: auto;
    width: 100%;/*   height: 400px; */
}
.dealsDZPreview {
    display: inline-block;
    margin: auto;
    text-align: center;
}
.dealsDZMessage {
    color: blue;
    margin: auto;
    padding: 100px 0;
    text-align: center;
    font-size: 20px;
}
.dealsDZFilename {
    /*   display: inline; */
    text-align: center;
    margin: auto 30px;
}
.removeDZLink {
    font-size: 12px;
    position: absolute;
    margin-top: -10px;
    text-decoration: none;
}
/************************************/
/************************************/
/************************************/
/********  New Deal Form 3  *********/
/************************************/
/************************************/
/************************************/

/*  Global Variable  */

.deal3Width {
    width: 90%;
    margin: auto;
}

@media(min-width: 2500px) {
.deal3Width {
    width: 75%;
    margin: auto;
}
}
/*  Deal 3 Select Div  */


/*  Deal 3 Card Div  */

.deal3CardRow {
    padding: 60px 0;
}
/*  Deal 3 Property  */

.deal3PropertyDiv {
	padding-bottom: 30px;
}
.deal3PropertyHeader {
    margin: 0;
}
.deal3PropertyRow {
    padding: 60px 30px;
    background-color: #F7F7F7;
    position: relative;
    margin-top: 20px;
}
#deal3Map {
	width: 100%;
/*	height: auto;*/
	margin-top: 30px;
}

/*  Deal 3 File Row  */

.deal3FileDiv {
	padding-bottom: 60px;
}
.deal3FileRow {
	border: 1px solid #D1D1D1;
	margin: auto;
}
.deal3FileLabel {
	font-size: 16px;
	margin: 0;
}

.deal2PropertyNameRow {
    /*    display: flex;*/
    width: 90%;
    margin: auto;
}

.deal3FileCol {
    padding: 12px 0;
	text-align: center;
}

.deal3FileName {
    margin: 0;
    /*    top: 15px;*/
    position: relative;
    color: #2699FB;
	text-decoration: none;
}
.deal3FileName:hover {
    font-size: 16px !important;
    color: #343434 !important;
	cursor: pointer;
}
.deal3FileNameActive {
    font-size: 16px !important;
    color: #2699FB !important;
}