@charset "UTF-8";
/*  Global Styles  */

html, body {
    width: 100%;
    height: 100%;/*
	overflow-x: hidden;
	*//*	-webkit-overflow-scrolling: touch;*/
}
.overflowHidden {
    overflow: hidden !important;
}
.overflowXHidden {
    overflow-x: hidden !important;
}
.overflowYHidden {
    overflow-y: hidden !important;
}
.overflowXAuto {
    overflow-x: auto !important;
}
.noPadding {
    padding: 0 !important;
}
.displayNone {
    display: none !important;
    propition-duration: .4s;
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 5000;
    background-repeat: no-repeat;
    background-position: 50% 50% no-repeat;
    background-color: #121212;
}
.text-center {
    text-align: center;
}
.padding-top {
    padding-top: 70px;
}
.padding-bottom {
    padding-bottom: 10px;
}
#wrapper {
    padding-left: 0%;
    padding-right: 0%;
    margin: 0 auto;
    width: 100%;
    overflow-x: hidden;
}
.bg {
    display: inline-block;
    height: 100vh;
    width: 100%;
}
.center-middle {
    top: 50%;
    propform: proplateY(-50%);
    bottom: initial;/*border-width: 10px;
	border-color: #000000;*/
}
.vertical-align-main {
    display: flex;
    align-items: center;
    justify-content: center;
}
.vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
}
.vertical-align > [class^="col-"], .vertical-align > [class*=" col-"] {
    display: flex;
    align-items: center;
    justify-content: center;
}
.vcenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.centerScreen {
    position: absolute;
    top: 50vh;
    left: 50vw;
    propform: proplate(-50%, -50%);
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
a, a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
}
.absolute {
    position: absolute;
}
.hover-delay {
    propition-duration: .4s;
}
@font-face {
    font-family: "futura-pt", sans-serif;
    font-style: normal;
}
.futuraBook {
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 400;
}
.futuraMedium {
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 500;
}
.futuraDemi {
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 600;
}
.futuraHeavy {
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 700;
}
.futuraBold {
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: 'Playfair Display', serif;
}
.playfairBold {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}
@font-face {
    font-family: 'Times New Roman', serif;
}
.timesNewRoman {
    font-family: 'Times New Roman', serif;
}
.bold {
    font-weight: 700;
}
.col-xs-5ths, .col-sm-5ths, .col-md-5ths, .col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
.col-sm-5ths {
    width: 20%;
    float: left;
}
}

@media (min-width: 992px) {
.col-md-5ths {
    width: 20%;
    float: left;
}
}

@media (min-width: 1200px) {
.col-lg-5ths {
    width: 20%;
    float: left;
}
}
.centerBlock {
    display: table;
    margin: auto;
}
.vcenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.vbottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
/* width */
::-webkit-scrollbar {
 width: 4px;
height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
 background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
 background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
 background: #555;
}
/*	End Global */

/*  Site Specific Global  */

.letterSpacePlayfair {
    letter-spacing: 1px;
}
.letterSpaceFuturaBook {
    letter-spacing: 1.5px;
}
.letterSpaceFuturaDemi {
    letter-spacing: 4px;
}
/************************************/
/************************************/
/************************************/
/****  Properties Underwriting  *****/
/************************************/
/************************************/
/************************************/

.propSizingPanelDiv > .propSizingPanelRow {
    overflow-x: auto !important;
    white-space: nowrap !important;
}
.propSizingPanelRow {
    margin: auto;
    display: flex;
}
.propSizingPanelCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2.5px;
}
.propSizingPanelCol {
    /*	margin: auto;*/
    text-align: center;
}
.propSizingPanelCol1, .propSizingPanelCol2 {
    background-color: #FAFAFA;
}
.propSizingInlineDiv p {
    margin: 0 5px;
    text-align: center;
    display: inline;
}
.propPercentPill {
    border-radius: 50px;
    padding: 2px 10px;
}
.propLoanNumberPerRoom {
    color: rgba(24, 46, 69, .5);
}
.propPercentPillYellow {
    background-color: #FDD859;
}
.propPercentPillRed {
    background-color: #D12C2C;
    color: #ffffff;
}

@media(min-width: 2500px) {
.propSizingPanelRow {
    width: 75%;
}
}

@media(max-width: 1850px) {
.propPercentPill {
    white-space: nowrap;
}
}

@media(min-width: 1367px) {
.propSizingPanelRow {
    /*    display: flex;*/
    width: 90%;
}
/*
.propSizingPanelCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
*/
.propPercentPill {
/*	display: inline;*/
}
}

@media(max-width: 1367px) {
.propSizingPanelCol {
    padding-top: 10px;
    padding-bottom: 10px;
}
}
/************************************/
/************************************/
/************************************/
/******  Loans Terms Sizing  ********/
/************************************/
/************************************/
/************************************/

label {
    margin: 0;
}
.propLoanTermsPanelTable {
    table-layout: auto;
    overflow-x: scroll;
    margin: auto;
    margin-bottom: 0 !important;
}
.propLoanTermsPanelDiv {
    padding: 5px 30px;
}
.propLoanTermsPanelDiv {
    display: flex;
    border-top: 2px solid #F5F5F5;
    border-bottom: 2px solid #F5F5F5;
    overflow-x: scroll;
    margin: 10px auto;
}
#propLoanTermsForm div {
/*    display: inline-block;*/
}
#propLoanTermsForm {
    margin: auto;/*	display: flex;*/
}
.propLoanTermsFormDiv {
    margin: 0 10px;
    position: relative;/*	display: inline;*/
}
.propLoanSizingInput {
/*
    padding: 2.5 13px !important;
    border: 1px solid rgba(112, 112, 112, .5);
    box-sizing: border-box !important;
    margin: 20px 0 0 0 !important;
    background-color: transparent;
    font-size: 13px;
    color: #000000;
    propition-duration: .4s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
*/
}
.propSelectBox {
    /*    width: 125px;*/
    padding: 2.5px 13px !important;
    border: 1px solid rgba(112, 112, 112, .5);
    /*
	background: url('../img/selectBoxBg.png') !important;
	background-position: left;
	background-size: cover;
	background-repeat: no-repeat;
*/
    box-sizing: border-box !important;
    /*    margin: 10px 0 0 0 !important;*/
    background-color: transparent;
    font-size: 16px;
    color: #2699FB;
    propition-duration: .4s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.propSelectBox option {
    color: #000000;
}
.propLoanTermsPanelInlineDiv {
    display: block !important;
}
.scheduleIcon {
    width: 20px;
    height: auto;
}
.downArrow {
    position: absolute;
    right: 15px;
    top: 30px;
    color: #2699FB;
}
.formLabels {
    color: #C1C0C0 !important;
    text-align: right;
}

@media(max-width: 1800px) {
}

@media(min-width: 1367px) {
.propLoanTermsPanelTable {
    width: 90%;
}
}

@media(max-width: 1367px) {
/*
#propLoanTermsForm input[type=text] {
    width: 100%;
}
.propSelectBox {
    width: 100%;
}
*/
}
/************************************/
/************************************/
/************************************/
/**********  Loans Sizing  **********/
/************************************/
/************************************/
/************************************/

.propLoanSizingTable1 {
    /*	table-layout: fixed;*/
    table-layout: auto;
    overflow: scroll;
}
.propLoanSizingDiv {
    border-top: 1px solid rgba(193, 192, 192, .29);
}
.propLoanSizingRow {
    /*	border-top: 1px solid rgba(193, 192, 192, .29);*/
    border-bottom: 1px solid rgba(193, 192, 192, .29);
    margin: auto;
}
.propLoanSizingCol {
}
.propLoanSizingCol1 {
    border-right: 1px solid rgba(193, 192, 192, .29);
    padding-top: 10px;
}
.propLoanSizingInput, .propLoanSizingSelectBox {
    width: 175px;
    padding: 2.5px 13px !important;
    border: 1px solid rgba(112, 112, 112, .5);
    box-sizing: border-box !important;
        margin: 0 !important;
    background-color: transparent;
    font-size: 16px;
    color: #000000;
    propition-duration: .4s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.propLoanSizingInput:hover, .propLoanSizingSelectBox:hover {
    border: 1px solid #2699FB;
    propition-duration: .4s;
}
.propLoanSizingInput::placeholder, .propLoanSizingSelectBox::placeholder {
 color: rgba(112, 112, 112, .5);
}
table > tbody > tr > td, .propLoanSizingTable1 > thead > tr > th {
    vertical-align: middle !important;
}
.borderless td, .borderless th {
    border: none !important;
}
.propLoanSizingTotalCostText {
    text-align: right;
    background-color: #F5F5F5;
}
.propLoanSizingSelectBox option {
    color: #000000;
}
.formLabelsLoanSizing {
    width: 100px;
}
.propLoanSizingLabel {
    color: #C1C0C0;
    font-size: 13px;
    text-align: right;
    display: block;
}
.formLabelBlack {
    color: #000000;
}
.propLoanSizingSelectDiv {
    position: relative;
}
.downArrowLoanSizing {
    position: absolute;
    right: 15px;
    top: 7.5px;
    color: #2699FB;
}

@media(min-width: 1921px) {
.propLoanSizingTable1 {
    width: 1000px;
    margin: auto;
}
}

@media(min-width: 1367px) {
.propLoanSizingRow {
    display: flex;
    width: 90%;
}
}
/*  Loan Sizing Column 2  */

.propLoanSizingTable2 > thead > tr > th {
    vertical-align: top !important;
    width: 150px;
}
.propLoanSizingTable2 thead {
    padding: 0 !important;
    margin: 0 !important;
}
.propLoanSizingTable2 tbody {
}
.propLoanSizingTable2 tr td {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin: 0 !important;
}
.propLoanSizingTable2 {
    /*	table-layout: fixed;*/
    table-layout: auto;
    width: 1000px;
    overflow: scroll;
}
.propLoanSizingSelectBoxNoBorderGrey {
    padding: 2.5px 0 !important;
    border: none;
    box-sizing: border-box !important;
    background-color: transparent;
    font-size: 13px;
    color: #C1C0C0;
    propition-duration: .4s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.propLoanSizingInputBlueBorder {
    width: 100%;
    padding: 2.5px 0 2.5px 5px !important;
    box-sizing: border-box !important;
    border: 1px solid #2699FB;
    /*        margin: 20px 0 0 0 !important;*/
    background-color: transparent;
    font-size: 13px;
    color: #000000;
    propition-duration: .4s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.propLoanSizingInputBlueBorderBlueText {
    /*    width: 100%;*/
    max-width: 100px;
    padding: 2.5px 5px 2.5px 0 !important;
    box-sizing: border-box !important;
    border: 1px solid #2699FB;
    background-color: transparent;
    font-size: 13px;
    color: #2699FB;
    propition-duration: .4s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: right;
}
.propLoanSizingInputBlueBorderBlueText::placeholder {
 color: #2699FB;
}
.propLoanSizingSelectBoxNoBorderBlack {
    width: 110px;
    padding: 2.5px 0 2.5px 0 !important;
    border: none;
    box-sizing: border-box !important;
    margin: 0 !important;
    background-color: transparent;
    color: #000000;
    propition-duration: .4s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 13px;
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
}
.downArrowLoanSizingNoBorder {
    position: absolute;
    top: 50%;
    right: 0;
    propform: proplateY(-50%);
    color: #2699FB;
}
.downArrowLoanSizingNoBorder2 {
    position: absolute;
    top: 50%;
    propform: proplateY(-50%);
    color: #2699FB;
}
.opaque {
    opacity: 0 !important;
}

/************************************/
/************************************/
/************************************/
/******  Properties Property  *******/
/************************************/
/************************************/
/************************************/

.propReviewSection {
    background-color: #F5F5F5;
}

@media(min-width: 1200px) {
.propReviewSection {
    padding: 60px;
}
}

@media(max-width: 1200px) {
.propReviewSection {
    padding: 0;
}
}
/************************************/
/*             Carousel             */
/************************************/

.propReviewCol1 {
    padding-right: 60px;
    background-color: #f5f5f5;
}
.propReviewCol2 {
    padding: 60px;
    background-color: #ffffff;
}
#myCarousel {
    position: relative;
}
.carouselLeft.left, .carouselRight.right {
    background-color: #ffffff;
    border-radius: 50px;
    border: 1px solid #2699FB;
    width: 45px;
    height: 45px;
    display: flex;
}
.carouselArrow {
    margin: auto;
    font-size: 20px !important;
}
.carouselLeft.left {
    position: absolute;
    top: 45%;
    left: 15px;
    color: #2699FB;
}
.carouselRight.right {
    position: absolute;
    top: 45%;
    right: 15px;
    color: #2699FB;
}
.carouseInner {
    padding: 0;
}
.carouselInner>.item {
/*    width: 100%;*/
}
.carouselInner> .item>img {
    width: 100%;
    height: auto;
}
.carousel-control.left, .carousel-control.right {
    background-image: none;
    background-color: #ffffff !important;
}

@media(max-width: 1000px) {
.propReviewCol1 {
    padding-right: 0;
    padding-bottom: 30px;
}
}
/************************************/
/*               Info               */
/************************************/

.propReviewInfoDiv {
    position: relative;
}
.starFill {
    color: #F5BD03;
}
.startransparent {
    color: #F5BD03;
    background-color: transparent;
}
.starText {
    text-decoration: none;
    color: #2699FB;
}
.starText:hover {
    color: #C1C0C0;
}
.propReviewInfoHeader {
    margin: 0;
}
.propReviewInfoTextHeader {
    margin-top: 20px;
    color: #C1C0C0;
}

@media(min-width: 768px) {
.propReviewStarDiv {
    position: absolute;
    top: 0;
    right: 0;
}
}
/************************************/
/*          Room/Amenities          */
/************************************/
						
.propReviewSubRow {
    padding: 0;
}
.propReviewSubTextTitleDiv {
    padding: 5px 0;
}
.propReviewSubTextTitle {
    margin: 0;
    color: #C1C0C0;
}
.propReviewSubTextTitleNumber {
    color: #000000;
}
.propReviewSubTextSubTitle {
    margin: 0;
}
.propReviewSubTable > tbody > tr > td {
    padding: 2.5px;
    vertical-align: top !important;
}
/************************************/
/*             Ratings              */
/************************************/

.propReviewSubHeader {
    padding-bottom: 20px;
}
.propReviewRatingsCircleDiv {
    text-align: center;
    display: inline-block;
    padding-right: 20px;
}
.propReviewRatingsCircle {
    border: 3px solid #2699FB;
    border-radius: 50px;
    display: flex;
    width: 100px;
    height: 100px;
    margin: auto;
    propition-duration: .4s;
}
.propReviewRatingsCircle:hover {
    propition-duration: .4s;
    border: 3px solid #C1C0C0;
    cursor: pointer;
}
.propReviewRatingsCircleNumber {
    margin: auto;
    display: block;
    font-size: 20px;
    color: #2699FB;
}
.propReviewRatingsText {
    color: #2699FB;
    margin-top: 5px;
}
/************************************/
/*          Main Reviews            */
/************************************/
						
.propReviewMainReviewBlock {
    position: relative;
}
.propReviewMainRow {
}
.propReviewMainCol {
    margin: 10px 0;
}
.propReviewMainStarText {
    color: #C1C0C0;
}
/************************************/
/************************************/
/************************************/
/********  Properties Market  *******/
/************************************/
/************************************/
/************************************/

.propRentTable > thead > tr > th {
    color: #C1C0C0;
    font-size: 14px;
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 400;
}
.propRentTable > tbody > tr > td {
    font-size: 16px;
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 600;
}
.propRentTable {
    padding: 30px 15px;
}
.propMarketCol1 {
    padding: 0 60px;
}
.propMarketCol2 {
    padding: 60px 0 0 0;
}
.propMarketComparableInputDiv {
    padding-top: 45px;
}
.propMarketComparableHeader {
    margin: 0;
    font-size: 28px;
}
.propMarketComparableInputRow {
    width: 90%;/*	margin: auto;*/
}
.propMarketComparableInputCol {
    padding: 10px;
}
.propInputTextArea {
    height: 150px;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 12px 0 0 12px;
    font-size: 16px;
    color: #000000;
}
.propInputTextArea::placeholder {
 color: rgba(112, 112, 112, .5);
}
.propInput {
    width: 100%;
    padding: 13px !important;
    border: 1px solid rgba(112, 112, 112, .5);
    box-sizing: border-box !important;
    /*    margin: 20px 0 0 0 !important;*/
    background-color: transparent;
    font-size: 16px;
    color: #000000;
    propition-duration: .4s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.propInput::placeholder {
 color: rgba(112, 112, 112, .5);
}
.propInput:hover {
    border: 1px solid #2699FB;
    propition-duration: .4s;
}
.propInput::placeholder {
 color: rgba(112, 112, 112, .5);
}

@media(max-width: 1200px) {
.propMarketComparableInputRow {
    width: 100%;
    margin: auto;/*	margin: auto;*/
}
.propMarketCol2 {
    padding: 60px 30px;
}
}
/************************************/
/*             Overview             */
/************************************/

.propMarketOverviewDiv {
    padding: 60px 0;
    margin: auto;
}
.propMarketOverviewRow {
    width: 75%;
    margin: auto;
    padding: 0 0 60px 0;
}
.propMarketOverviewCol {
/*	margin: auto;*/
}
.propMarketOverviewImg {
    width: 100%;
    /*			height: 400px;*/
    height: auto;
}
.propMarketOverviewTextDiv {
    position: relative;
}
.propMarketOverviewSubTextDiv {
    position: relative;
}
.propMarketOverviewHeader {
    margin: 0;
    padding-bottom: 20px;
}
.propMarketOverviewEdit {
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: none;
    color: #2699FB;
    font-size: 12px;
}
.propMarketOverviewEdit:hover {
    color: #000000;
}
/*  Sub Row  */

.propMarketOverviewSubCol {
    padding: 0 30px;
}
.propMarketOverviewSubHeader {
    margin: 0;
    padding-bottom: 10px;
    color: #C1C0C0;
}
.propMarketOverviewTextNoEdit {
    padding-bottom: 20px;
}
.propMarketOverviewSubTextEdit {
    padding-bottom: 20px;
}
/*  Source  */

.propMarketOverviewSourceHeader {
    color: #C1C0C0;
    text-align: center;
}

@media(min-width: 1200px) {
.propMarketOverviewRow {
    display: flex;
}
.propMarketOverviewTextDiv {
    width: 90%;
    padding: 0 15px;
}
.propMarketOverviewSubTextDiv {
    padding: 0;
}
}

@media(max-width: 1200px) {
.propMarketOverviewDiv {
    padding: 30px;
}
.propMarketOverviewRow {
    width: 100%;
}
.propMarketOverviewTextDiv {
    padding: 30px 30px 0 0;
}
.propMarketOverviewSubTextDiv {
    padding: 30px 30px 0 0;
}
.propMarketOverviewEdit {
    top: 15px;
}
/*  Sub Section  */
	
.propMarketOverviewSubCol {
    padding: 0 15px;
}
}

@media(min-width: 2500px) {
.propMarketOverviewDiv {
    width: 75%;
}
}
/************************************/
/************************************/
/************************************/
/******  Properties Location  *******/
/************************************/
/************************************/
/************************************/

#map {
    margin-bottom: 60px;
}
.propLocationSummaryDiv {
    margin: auto;
    padding: 60px 0;
}
.propLocationSummaryRow {
/*	margin: auto;*/
}
.propLocationProfileTableDiv {
	margin: auto;
}
.propLocationSummaryCol {
    padding-left: 60px;
    padding-right: 60px;
}
.propLocationSummaryTextDiv {
    padding-bottom: 30px;
}
.propLocationSummaryTextSubDiv {
	position: relative;
	margin-top: 45px;
}
.propLocationSummaryHeader {
    margin: 0;
}
.propLocationSummarySubHeader {
    color: #C1C0C0;
    margin: 0;
    padding-bottom: 15px;
}
.propLocationSummaryText {
/*	padding-bottom: 60px;*/
}
.propLocationSummaryEdit {
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: none;
    color: #2699FB;
    font-size: 12px;
}
.propLocationSummaryEdit:hover {
    color: #000000;
}
/************************************/
/*             Profile              */
/************************************/

#map {
    margin-bottom: 60px;
}
.propLocationProfileDiv {
    margin: auto;
    padding: 60px 0;
}
.propLocationProfileRow {
/*	margin: auto;*/
}
.propLocationProfileCol {
    padding-left: 60px;
    padding-right: 60px;
}
.propLocationProfileHeader {
    margin: 0;
}
.propLocationProfileSmallHeader {
/*	margin: 0;*/
}
.propLocationProfileSubHeader {
    color: #C1C0C0;
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px;
}
.propLocationProfileText {
/*	padding-bottom: 60px;*/
}

@media(max-width: 1200px) {
.propLocationProfileCol2 {
    padding-top: 45px;
}
}
/*  Company  */
						
.propLocationProfileCompanyImg {
    width: 100%;
    height: auto;
    max-width: 200px;
}
.propLocationProfileCompanyRow {
    margin-top: 45px;
}
.propLocationProfileCompanyImgRow {
    padding-left: 10px;
}
.propLocationProfileCompanyHeader {
    color: #C1C0C0;
    margin: 0;
    padding-bottom: 15px;
}
.propLocationProfileCompanyImgCol {
    padding: 5px;
}
/*  Rank  */
						
.propLocationProfileCompanyCol2 {
}
.propLocationProfileCompanyRankHeader {
    color: #C1C0C0;
    padding-bottom: 15px;
}
.propLocationProfileCompanyRankNumber {
    color: #2699FB;
    margin: 0;
}
.propLocationProfileCompanyRankText {
    font-size: 16px;
}

@media(min-width: 1200px) {
.propLocationProfileCompanyRankHeader {
    margin: auto;
    width: 75%;
}
.propLocationProfileCompanyRankDiv {
    margin: auto;
    width: 75%;
}
}
/*  Table  */

.propLocationProfileTableDiv {
    padding: 0 60px 60px 60px;
}
.propLocationProfileTableHeader {
    padding-left: 5px;
}
.propLocationProfileTable > thead > tr > th {
    color: #C1C0C0;
    font-size: 14px;
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 400;
}
.propLocationProfileTable > tbody > tr > td {
    font-size: 16px;
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 600;
}
.propLocationProfileTable > thead > tr > th:nth-child(3), .propLocationProfileTable > tbody > tr > td:nth-child(3), .propLocationProfileTable > thead > tr > th:nth-child(5), .propLocationProfileTable > tbody > tr > td:nth-child(5) {
    /*	display: none;*/
    padding-left: 60px;
}
.propLocationProfileTable {
    padding: 30px 0 !important;
}

@media(min-width: 1200px) {
.propLocationProfileTableDiv {
    width: 75%;
}
}
/************************************/
/*          Demographics            */
/************************************/

.propLocationDemoDiv {
    padding: 60px;
}
.propLocationDemoRow {
    padding-bottom: 30px;
}
.propLocationDemoCol {
    margin: auto;
}
.propLocationDemoImg {
    width: 100%;
    /*			height: 400px;*/
    height: auto;
}
.propLocationDemoTextDiv {
    position: relative;
}
.propLocationDemoHeader {
    margin: 0;
    padding-bottom: 20px;
}
.propLocationDemoEdit {
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: none;
    color: #2699FB;
    font-size: 12px;
}
.propLocationDemoEdit:hover {
    color: #000000;
}

@media(min-width: 1200px) {
.propLocationDemoRow {
    display: flex;
}
.propLocationDemoTextDiv {
    width: 90%;
    padding: 0 15px;
}
}

@media(max-width: 1200px) {
.propLocationDemoDiv {
    padding: 30px;
}
.propLocationDemoTextDiv {
    padding: 30px 30px 0 0;
}
.propLocationDemoEdit {
    top: 15px;
}
}

@media(min-width: 2500px) {
.propLocationDemoDiv {
    width: 75%;
}
}
/************************************/
/*          Neighborhood            */
/************************************/

.propLocationNeighDiv {
    padding: 60px 0 60px 60px;
    margin: auto;
}
/*  Walk Score  */

.propLocationNeighWalkDiv {
    padding-bottom: 30px;
}
.propLocationNeighWalkHeader {
    margin: 0;
    padding-bottom: 45px;
}
.propLocationNeighWalkCol {
    border: 1px solid #000000;
}
.propLocationNeighWalkSquareDiv {
    margin: auto;
    text-align: center !important;
    padding: 0 30px !important;
}
.propLocationNeighWalkIcon {
    position: absolute;
    top: -18px;
    left: 50%;
    propform: proplateX(-50%);
    margin: 0;
    width: 40px;
    height: 40px;
    background-color: orange;
    display: flex;
    border-radius: 50%;
}
.propLocationNeighWalkIcon1 {
    background-color: #ffa500;
}
.propLocationNeighWalkIcon2 {
    background-color: #0099cc;
}
.propLocationNeighWalkIcon3 {
    background-color: #2eb32e;
}
.propLocationNeighWalkScore {
    padding: 20px 0;
}
.propLocationNeighWalkScore1 {
    color: #ffa500;
}
.propLocationNeighWalkScore2 {
    color: #0099cc;
}
.propLocationNeighWalkScore3 {
    color: #2eb32e;
}
.propLocationNeighWalkIcon i {
    margin: auto;
    color: #ffffff;
    font-size: 18px;
}
.propLocationNeighWalkTitle {
    margin: 0;
}
.propLocationNeighWalkScore {
    margin: 0;
}
.propLocationNeighWalkSubHeader {
    margin: 0;
}

@media(max-width: 1200px) {
.propLocationNeighWalkCol {
    max-width: 300px;
    margin: auto;
}
.propLocationNeighWalkHeader {
    text-align: center;
}
}

@media(min-width: 1200px) and (max-width: 1500px) {
.propLocationNeighWalkScore {
    padding: 10px 0;
}
.propLocationNeighWalkSquareDiv {
    padding: 0 10px !important;
}
}
/*  Table  */

.propLocationNeighTableHeader {
    padding-left: 5px;
    margin: 0;
    padding-bottom: 20px;
}
.propLocationNeighTable > thead > tr > th {
    color: #C1C0C0;
    font-size: 14px;
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 400;
}
.propLocationNeighTable > tbody > tr > td {
    font-size: 16px;
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 600;
}
.propLocationNeighTable > thead > tr > th:nth-child(2), .propLocationNeighTable > tbody > tr > td:nth-child(2), .propLocationNeighTable > thead > tr > th:nth-child(3), .propLocationNeighTable > tbody > tr > td:nth-child(3), .propLocationNeighTable > thead > tr > th:nth-child(4), .propLocationNeighTable > tbody > tr > td:nth-child(4) {
    text-align: center;
}
.propLocationNeighTable {
    padding: 30px 0 !important;
}

@media(min-width: 2500px) {
.propLocationNeighDiv {
    width: 75%;
}
}

@media(max-width: 1200px) {
.propLocationNeighDiv {
    padding: 30px;
}
}
/*  Map Section  */

.propLocationNeighCol2 {
    padding: 0 60px;
}
.mapNeighborhood {
    width: 100%;
}

@media(max-width: 1200px) {
.propLocationNeighCol2 {
    padding: 30px 0;
}
.mapNeighborhood {
    height: 400px !important;
}
}
/************************************/
/*          Demand Drivers          */
/************************************/

.propLocationDemandDiv {
    padding: 0 60px 60px 60px;
    margin: auto;
}
.propLocationDemandNavDiv {
    padding-left: 60px;
}
/*  Map Section  */

.propLocationDemandCol1 {
    padding: 0;
}
.mapDemand {
    width: 100%;
}

@media(max-width: 1200px) {
.propLocationDemandCol1 {
    padding: 30px 0;
}
.mapDemand {
    height: 400px !important;
}
}
/************************************/
/*              Airport             */
/************************************/

.propLocationAirportDiv {
    padding: 60px;
    margin: auto;
}
.propLocationAirportImg {
    width: 100%;
    height: auto;
}
/*  Map Section  */

.propLocationAirportCol1 {
    padding: 0;
}
.mapAirport {
    width: 100%;
}

@media(max-width: 1200px) {
.propLocationAirportDiv {
    padding: 30px;
}
.propLocationAirportCol1 {
    padding: 30px 0;
}
.mapAirport {
    height: 400px !important;
}
}
/************************************/
/************************************/
/************************************/
/******  Properties Valuation  ******/
/************************************/
/************************************/
/************************************/

.propValueSaleSection {
    border-bottom: 1px solid #707070;
}
/************************************/
/*               Table              */
/************************************/

.propValueSaleTable {
    margin: auto;
}
.propValueSaleTable > thead > tr > th {
    color: #C1C0C0;
    font-size: 14px;
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 400;
    vertical-align: top;
    padding: 0 30px;
}
.propValueSaleTable > tbody > tr > td {
    font-size: 16px;
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 600;
    vertical-align: middle;
    padding: 10px 30px;
}
.propValueSalePill {
    border-radius: 50px;
    padding: 2px 10px;
    color: #ffffff;
    display: inline;
    margin-top: 10px;
}
.propLoanNumberPerRoom {
    color: rgba(24, 46, 69, .5);
}
.propValueSalePillBlue {
    background-color: #189ACA;
}
.propValueSalePillGreen {
    background-color: #31C6C7;
}
.propValueSalePillOrange {
    background-color: #FD7F56;
}
.propValueDeleteLink {
    text-decoration: none;
    font-size: 24px;
    color: #2294E3;
}
.propValueDeleteLink:hover {
    color: #C1C0C0;
}

@media(max-width: 1850px) {
.propValueSalePill {
    white-space: nowrap;
}
}
/************************************/
/*           Sub Buttons            */
/************************************/

.propValueSaleSubButtonDiv {
    text-align: center;
    padding-top: 45px;
}
.propValueSaleSubButton {
    color: #2699FB;
    border: 1px solid #707070;
    display: inline-block;
    width: 175px;
    padding: 20px 0;
    margin: 0 10px;
}
.propValueSaleSubButton:hover {
    background-color: #182E45;
    color: #ffffff;
}
.propValueSaleSubButtonActive {
    background-color: #182E45;
    color: #ffffff;
}
/************************************/
/*              Base                */
/************************************/

.propValueSaleBaseDiv {
    margin: auto;
    padding: 60px 0;
}
.propValueSaleBaseRow {
    margin: auto;
    width: 50%;
}
.propValueSaleBaseCol {
}
.propValueInput, .propValueSaleBaseTextArea {
    width: 100%;
    padding: 5px !important;
    border: 1px solid rgba(112, 112, 112, .5);
    box-sizing: border-box !important;
    margin: 20px 0 0 0 !important;
    background-color: transparent;
    font-size: 16px;
    color: #000000;
    propition-duration: .4s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.propValueInput::placeholder {
 color: rgba(112, 112, 112, .5);
}
.propValueInput:hover {
    border: 1px solid #2699FB;
    propition-duration: .4s;
}
.propValueInput::placeholder {
 color: rgba(112, 112, 112, .5);
}
.propValueSaleBaseSelect {
    color: #2699FB;
    padding: 5px !important;
}
.propValueSaleBaseInputTextCol {
}
.propValueSaleBaseInputText {
}
.propValueInputBorderless, .propValueInputBorderless:hover {
    border: none !important;
}
.propValueInputBorderless::placeholder {
 color: #000000 !important;
}
.propValueSaleBaseTextArea {
    height: 200px;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 12px 0 0 12px;
    font-size: 16px;
    color: #000000;
}
.propValueSaleBaseTextArea::placeholder {
 color: rgba(112, 112, 112, .5);
}

@media(max-width: 1000px) {
.propValueSaleBaseDiv {
    padding: 60px 30px;
}
.propValueSaleBaseRow {
    width: 100%;
}
}
/************************************/
/*              Grid                */
/************************************/

.propValueSaleGridDiv {
    width: 60%;
    margin: auto;
    padding: 60px 0;
}
.propValueSaleGridRow {
    display: flex;
    margin: 20px 0;
}
.propValueSaleGridCol {
    margin: auto;
}
.propValueSaleGridCol2 {
    padding-left: 0;
}
.propValueSaleGridLabel {
    text-align: right;
    margin: 0;
    color: #C1C0C0;
    font-size: 16px;
}
.propValueSaleGridSelect {
    color: #2699FB;
    padding: 5px !important;
}
.propValueSaleGridSelect {
    margin: 0 !important;
}
/************************************/
/*               DCF                */
/************************************/


.propValueDcfInput {
    width: 100%;
    padding: 5px !important;
    border: 1px solid rgba(112, 112, 112, .5);
    box-sizing: border-box !important;
    /*    margin: 20px 0 0 0 !important;*/
    background-color: transparent;
    font-size: 16px;
    color: #000000;
    propition-duration: .4s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.propValueInput::placeholder {
 color: rgba(112, 112, 112, .5);
}
.propValueInput:hover {
    border: 1px solid #2699FB;
    propition-duration: .4s;
}
.propValueInput::placeholder {
 color: rgba(112, 112, 112, .5);
}

/*  Main Div  */

@media(min-width: 1200px) {
.propValueDcfLabelDiv {
    display: table-cell;
    vertical-align: middle;
}
.propValueDcfInput {
    width: 200px;
}
}
/*  Top Row  */

.propValueDcfTopRow {
    padding: 10px 30px;
}
.propValueDcfTopCol {
    margin: auto;
}
.propValueDcfLabel {
    padding-right: 20px;
}
.propValueDcfSelect {
    width: 100%;
    color: #2699FB;
    padding: 5px !important;
    margin: 0 !important;
}
.propValueDcfText {
    margin: 0;
    font-size: 16px;
}
.propValueDcfTextValue {
    color: rgba(112, 112, 112, .5);
    padding-left: 10px;
    display: inline-block;
}

@media(min-width: 1200px) {
.propValueDcfTopRow {
    display: flex;
    padding: 10px 60px;
}
.propValueDcfSelect {
    width: 300px;
}
.propValueDcfText {
    text-align: right;
}
}
/*  Bottom Row  */

.propValueDcfBottomRow {
    border: 2px solid #F5F5F5;
    padding: 10px 30px;
}
.propValueDcfLabelBottom {
    padding: 0 5px 0 0;
}
.propValueDcfBottomHeader {
    margin-top: 15px;
    font-size: 16px;
}
.propValueDcfSelectBottom {
    width: 100%;
    margin: 0 !important;
    font-size: 14px;
    padding: 5px !important;
}
.greyLabel {
    color: #C1C0C0 !important;
}
.propValueDcfInputBottom {
    width: 100%;
    padding: 2.5px !important;
    border: 1px solid rgba(112, 112, 112, .5);
    box-sizing: border-box !important;
    /*    margin: 20px 0 0 0 !important;*/
    background-color: transparent;
    font-size: 16px;
    color: #000000;
    propition-duration: .4s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

@media(min-width: 1200px) {
.propValueDcfBottomRow {
    display: flex;
    padding: 10px 60px;
}
.propValueDcfLabelDiv2 {
    padding-left: 30px;
}
.propValueDcfInputBottom {
    width: 60px;
}
.propValueDcfSelectBottom {
    width: 120px;
}
.propValueDcfText {
    text-align: right;
}
}

@media(max-width: 1200px) {
.propValueDcfLabelDiv {
    padding: 5px 0;
}
}
