@charset "UTF-8";
/*  Global Styles  */

html, body {
    width: 100%;
    height: 100%;/*
	overflow-x: hidden;
	*//*	-webkit-overflow-scrolling: touch;*/
}
.overflowHidden {
    overflow: hidden !important;
}
.overflowXHidden {
    overflow-x: hidden !important;
}
.overflowYHidden {
    overflow-y: hidden !important;
}
.noPadding {
    padding: 0 !important;
}
.displayNone {
    display: none !important;
    transition-duration: .4s;
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 5000;
    background-repeat: no-repeat;
    background-position: 50% 50% no-repeat;
    background-color: #121212;
}
.text-center {
    text-align: center;
}
.padding-top {
    padding-top: 70px;
}
.padding-bottom {
    padding-bottom: 10px;
}
#wrapper {
    padding-left: 0%;
    padding-right: 0%;
    margin: 0 auto;
    width: 100%;
    overflow-x: hidden;
}
.bg {
    display: inline-block;
    height: 100vh;
    width: 100%;
}
.center-middle {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;/*border-width: 10px;
	border-color: #000000;*/
}
.vertical-align-main {
    display: flex;
    align-items: center;
    justify-content: center;
}
.vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
}
.vertical-align > [class^="col-"], .vertical-align > [class*=" col-"] {
    display: flex;
    align-items: center;
    justify-content: center;
}
.vcenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.centerScreen {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
a, a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
}
.absolute {
    position: absolute;
}
.hover-delay {
    transition-duration: .4s;
}
@font-face {
    font-family: "futura-pt", sans-serif;
    font-style: normal;
}
.futuraBook {
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 400;
}
.futuraMedium {
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 500;
}
.futuraDemi {
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 600;
}
.futuraHeavy {
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 700;
}
.futuraBold {
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: 'Playfair Display', serif;
}
.playfairBold {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}
@font-face {
    font-family: 'Times New Roman', serif;
}
.timesNewRoman {
    font-family: 'Times New Roman', serif;
}
.bold {
    font-weight: 700;
}
.col-xs-5ths, .col-sm-5ths, .col-md-5ths, .col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
.col-sm-5ths {
    width: 20%;
    float: left;
}
}

@media (min-width: 992px) {
.col-md-5ths {
    width: 20%;
    float: left;
}
}

@media (min-width: 1200px) {
.col-lg-5ths {
    width: 20%;
    float: left;
}
}
.centerBlock {
    display: table;
    margin: auto;
}
.vcenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.vbottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
/* width */
::-webkit-scrollbar {
 width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
 background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
 background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
 background: #555;
}
/*	End Global */

/*  Site Specific Global  */

.letterSpacePlayfair {
    letter-spacing: 1px;
}
.letterSpaceFuturaBook {
    letter-spacing: 1.5px;
}
.letterSpaceFuturaDemi {
    letter-spacing: 4px;
}

/************************************/
/************************************/
/************************************/
/*************  Login  **************/
/************************************/
/************************************/
/************************************/

.logoLink {
    position: absolute;
    top: 45px;
    left: 45px;
    z-index: 2;
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
}
.logoLink:hover {
    color: #ffffff;
    opacity: .5;
}
.blue {
    color: #44C2F4;
}
/*  Login Section 1  */

.loginCol1 {
    background: url('../img/login/loginBg.png');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}
.loginSubDiv {
    color: #ffffff;
    margin: auto;
    text-align: center;
}
.loginHeader {
    font-size: 50px;
    margin: 0;
}
.loginText {
    padding: 60px 0;
    font-size: 18px;
    margin: 0;
}
.loginButton {
    display: block;
    border: 1px solid #ffffff;
    text-decoration: none;
    padding: 20px 0;
    width: 300px;
    color: #ffffff;
    border-radius: 50px;
    font-size: 18px;
    margin: auto;
}
.loginButton:hover {
    color: #2699FB;
    background-color: #ffffff;
}
/*  Sign Up Section  */

.loginCol2 {
    display: flex;
}

@media(min-width: 900px) {
.loginCol {
    height: 100vh;
}
.loginSubDiv {
    width: 50%;
}
}

@media (max-width: 900px) {
.loginLogo {
    top: 25px;
    left: 25px;
    width: 100px;
}
.loginCol {
    /*    height: 75vh;*/
    padding: 60px 0;
}
.loginSubDiv {
    width: 100%;
    padding: 60px 30px 0 30px;/*    width: 50%;*/
}
.loginButton {
    padding: 10px 0;
    width: 200px;
}
}
/*  Login Form Section  */

.signUpDiv {
    margin: auto;
    text-align: center;
}
.signUpHeader {
    font-size: 50px;
    margin: 0;
    padding-bottom: 30px;
}
.signUpText {
    font-size: 18px;
    padding: 30px 0;
    margin: 0;
}
#signUp {
    /*	padding: 0 30px;*/
    width: 75%;
    margin: auto;
}
#signUp input[type=text], #signUp input[type=tel], #signUp input[type=email], #signUp input[type=password], #signUp input[type=""], #signUp textarea {
    width: 100%;
    padding: 16px 13px !important;
    border: 1px solid rgba(112, 112, 112, .5) !important;
    box-sizing: border-box !important;
    margin: 10px 0 0 0 !important;
    background-color: transparent;
    font-size: 16px;
    color: #000000;
    text-align: center;
    transition-duration: .4s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#signUp textarea:focus {
    width: 100%;
}
#signUp textarea {
    resize: none;
}
/*
#signUp input[type=text]:hover, #signUp input[type=tel]:hover, #signUp input[type=email]:hover, #signUp input[type=""]:hover, #signUp textarea:hover {
	    border: 1px solid #2B292E;
	color: #003D73;
	transition-duration: .4s;
	opacity: .75;
}
*/

#signUp ::-webkit-input-placeholder {
 color: rgba(112, 112, 112, .5) !important;
 opacity: 1; /* for older chrome versions. may no longer apply. */
 transition-duration: .4s;
}
 #signUp :-moz-placeholder { /* Firefox 18- */
 color: rgba(112, 112, 112, .5) !important;
 opacity: 1;
 transition-duration: .4s;
}
 #signUp ::-moz-placeholder {  /* Firefox 19+ */
 color: rgba(112, 112, 112, .5) !important;
 opacity: 1;
 transition-duration: .4s;
}
 #signUp :-ms-input-placeholder {
 color: rgba(112, 112, 112, .5) !important;
 opacity: 1;
 transition-duration: .4s;
}
#signUp input:hover::-webkit-input-placeholder {
 color: #000000 !important;
 opacity: 1; /* for older chrome versions. may no longer apply. */
 transition-duration: .4s;
}
#signUp textarea:hover::-webkit-input-placeholder {
 color: #000000 !important;
 opacity: 1; /* for older chrome versions. may no longer apply. */
 transition-duration: .4s;
}
#signUp input:hover::-moz-placeholder { /* Firefox 18- */
 color: #000000 !important;
 opacity: 1;
 transition-duration: .4s;
}
#signUp input:hover::-moz-placeholder {  /* Firefox 19+ */
 color: #000000 !important;
 opacity: 1;
 transition-duration: .4s;
}
#signUp input:hover::-ms-input-placeholder {
 color: #000000 !important;
 opacity: 1;
 transition-duration: .4s;
}
#signUp button[type="submit"] {
    display: block;
    background-color: #035699;
    border: 1px solid #035699;
    text-decoration: none;
    padding: 20px 0;
    color: #ffffff;
    border-radius: 50px;
    font-size: 18px;
    width: 300px;
    margin: 30px auto auto auto;
}
#signUp button[type="submit"]:hover {
    color: #035699;
    background-color: transparent;
}
.signUpCol {
    padding: 0;
}

@media(min-width: 900px) {
.signUpText {
    width: 50%;
    margin: auto;
}
}

@media (max-width:900px) {
.signUpDiv {
    width: 100%;
    padding: 0 45px;
}
#signUp {
    width: 100%;
}
#signUp button[type="submit"] {
    padding: 10px 0;
    width: 200px;
}
}
/************************************/
/************************************/
/************************************/
/************  Dashboard  ***********/
/************************************/
/************************************/
/************************************/

/*  Filters  */

.filterDiv {
    padding: 20px 30px;
}
.filterLinkDiv {
    text-align: center;
}
.filterSearch {
}
.filterLink {
    color: #C1C0C0;
    margin: 0 20px;
    position: relative;
}
.filterLink:hover {
    color: #131313 !important;
    border-bottom: 5px solid #44C2F4;
	-webkit-filter: drop-shadow(0px 20px 20px rgba(0,0,0,.75)); /* Safari 6.0 - 9.0 */
    filter: drop-shadow(0px 20px 20px rgba(0,0,0,.75));
}
.filterNumber {
    position: absolute;
    top: -15px;
    right: -10px;
    font-size: 16px;
    color: #C1C0C0;
}
.filterLinkActive {
    color: #131313 !important;
    border-bottom: 5px solid #44C2F4;
	-webkit-filter: drop-shadow(0px 20px 20px rgba(0,0,0,.75)); /* Safari 6.0 - 9.0 */
    filter: drop-shadow(0px 20px 20px rgba(0,0,0,.75));
}
.filterNumberActive {
    color: #131313 !important;
}
.newDealButton {
    display: block;
    margin: 0;
    font-size: 12px;
    background-color: #035699;
    border: 1px solid #035699;
    padding: 15px 0;
    width: 250px;
    color: #ffffff;
    text-align: center;
}
.newDealButton:hover {
    background-color: transparent;
    color: #035699;
}
.filterCol2 {
    text-align: center;
}
.filterCol3 {
    text-align: right;
}
.filterSearchIcon {
    width: 15px;
    height: auto;
    margin-top: -5px;
}
.filterSearch {
    border: none;
    color: #131313;
    padding: 0 0 5px 5px;
	margin: 0;
	width: 250px;
    font-size: 16px;
}
.filterSearch:hover {
/*	border: 1px solid #343434;*/
}
#filterSearch ::-webkit-input-placeholder {
 color: #131313 !important;
 opacity: 1; /* for older chrome versions. may no longer apply. */
 transition-duration: .4s;
}
 #filterSearch :-moz-placeholder { /* Firefox 18- */
 color: #131313 !important;
 opacity: 1;
 transition-duration: .4s;
}
 #filterSearch ::-moz-placeholder {  /* Firefox 19+ */
 color: #131313 !important;
 opacity: 1;
 transition-duration: .4s;
}
 #filterSearch :-ms-input-placeholder {
 color: #131313 !important;
 opacity: 1;
 transition-duration: .4s;
}

@media(min-width: 1250px) {
.filterRow {
    display: flex;
}
.newDealButton {
    margin-top: 0px;
    float: right;
}
.filterSearch {
	padding-top: 15px;
}
	.filterLinkDiv {
		padding-top: 20px;
	}
}

@media(max-width: 1250px) {
.filterCol {
    text-align: center;
    padding: 10px 0;
}
.filterSearch {
    text-align: center;
}
.filterLinkDiv {
    display: none;
}
.newDealButton {
    margin: auto;
}
/*
.filterLink {
		margin: 30px;
	}
	.filterLink4, .filterLink5, .filterLink6 {
		margin-top: 60px;
	}
*/
}
/*  Dashboard Card Section */

.dealSection {
    background-color: #F5F5F5;
    padding: 30px 0;
}
.dealCol {
    padding: 15px;
}
.dealCardDiv {
    background-color: #ffffff;
    padding: 15px 0 0 0;
	-webkit-filter: drop-shadow(0px 5px 20px rgba(0,0,0,.25)); /* Safari 6.0 - 9.0 */
    filter: drop-shadow(0px 5px 20px rgba(0,0,0,.25));
}
.dealTypeofLoan {
    background-color: #035699;
    color: #ffffff;
    display: block;
    padding: 15px 0;
    width: 150px;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 12px;
}
.dealCardDate {
    color: #C1C0C0;
    padding-left: 15px;
    margin: 0;
    font-size: 12px;
}
.dealCardHeader {
    margin: 0;
    padding: 30px 10px 10px 15px;
    font-size: 32px;
}
.dealTextRow {
    margin-top: 10px;
}
.dealTextCol {
    margin: auto;
}
.dealLabel, .dealValue {
}
.dealLabel {
    padding: 10px 15px;
    color: #C1C0C0;
    font-size: 12px;
}
.dealValue {
    padding: 10px 15px;
}
.dealPropertyType {
    background-color: #FAF8F8;
}
.dealLoanType {
    background-color: #FAF8F8;
}
.dealLoanAmount {
    background-color: #FAF8F8;
}
.dealPropertyTypeValue {
    background-color: #ffffff;
}
.dealLoanTypeValue {
    background-color: #ffffff;
}
.dealLoanAmountValue {
    background-color: #ffffff;
}

@media(min-width: 110px) {
.dealRow {
    width: 85%;
    margin: auto;
    padding: 10px 0;
}
.dealTextRow {
    display: flex;
}
}

@media(max-width: 1100px) {
.dealCol {
    padding-bottom: 30px;
}
.dealTypeofLoan {
    top: 0;
    right: 10px;
}
}
/*  Deal Details Row  */

.dealDetailsRow {
    display: flex;
}
.dealDetailsCol {
    padding: 0;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dealDetailsCol2 {
    background-color: #E3E3E3;
}
.dealDetailsCol2:hover {
    background-color: #2699FB;
    color: #ffffff;
}
.dealDetailsAdd {
    font-size: 32px;
    color: #2699FB;
    text-decoration: none;
}
.dealDetailsText {
    text-decoration: none;
    display: block;
    padding: 13px 0;
    color: #ffffff;
}
.dealDetailsText:hover {
    color: #ffffff;
}
.heart {
    color: #2699FB;
    font-size: 18px;
}
.dealAddToFolderDiv {
    background-color: #ffffff;
    width: 75%;
    position: absolute;
    top: 85%;
    -webkit-box-shadow: 0px 0px 61px -2px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 61px -2px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 61px -2px rgba(0,0,0,0.25);
}
.dealCreateFolder {
    color: #2699FB;
    text-decoration: none;
    border-bottom: 5px solid #2699FB;
    margin-bottom: 30px;
	padding-bottom: 15px;
	display: inline;
}
.dealCreateFolder:hover, .dealCreateFolderPlus:hover, .dealCreateFolderPlusText:hover {
	text-color: #343434 !important;
}
.dealCreateFolderPlus {
	vertical-align: middle;
	font-size: 32px;
}
.dealCreateFolderPlusText {
    font-size: 16px;
    margin: 0;
	vertical-align: middle;
}
.dealDetailsAddToFolder {
    color: #2699FB;
    text-decoration: none;
    display: block;
    padding-left: 30px;
    margin: 15px 0;
}
.addButton {
}
.modal {
    position: absolute;
    top: 60%;
    transform: translateY(-60%);
    padding-bottom: 30px;
}
.closeModal {
    color: #131313 !important;
    font-size: 28px;
    float: right;
}
