@charset "UTF-8";
/*  Global Styles  */

html, body {
    width: 100%;
    height: 100%;/*
	overflow-x: hidden;
	*//*	-webkit-overflow-scrolling: touch;*/
}
.overflowHidden {
    overflow: hidden !important;
}
.overflowXHidden {
    overflow-x: hidden !important;
}
.overflowYHidden {
    overflow-y: hidden !important;
}
.overflowXAuto {
    overflow-x: auto !important;
}
.noPadding {
    padding: 0 !important;
}
.displayNone {
    display: none !important;
    transition-duration: .4s;
}
.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 5000;
    background-repeat: no-repeat;
    background-position: 50% 50% no-repeat;
    background-color: #121212;
}
.text-center {
    text-align: center;
}
.padding-top {
    padding-top: 70px;
}
.padding-bottom {
    padding-bottom: 10px;
}
#wrapper {
    padding-left: 0%;
    padding-right: 0%;
    margin: 0 auto;
    width: 100%;
    overflow-x: hidden;
}
.bg {
    display: inline-block;
    height: 100vh;
    width: 100%;
}
.center-middle {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;/*border-width: 10px;
	border-color: #000000;*/
}
.vertical-align-main {
    display: flex;
    align-items: center;
    justify-content: center;
}
.vertical-align {
    display: flex;
    align-items: center;
    justify-content: center;
}
.vertical-align > [class^="col-"], .vertical-align > [class*=" col-"] {
    display: flex;
    align-items: center;
    justify-content: center;
}
.vcenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.centerScreen {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}
.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
a, a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
}
.absolute {
    position: absolute;
}
.hover-delay {
    transition-duration: .4s;
}
@font-face {
    font-family: "futura-pt", sans-serif;
    font-style: normal;
}
.futuraBook {
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 400;
}
.futuraMedium {
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 500;
}
.futuraDemi {
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 600;
}
.futuraHeavy {
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 700;
}
.futuraBold {
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: 'Playfair Display', serif;
}
.playfairBold {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}
@font-face {
    font-family: 'Times New Roman', serif;
}
.timesNewRoman {
    font-family: 'Times New Roman', serif;
}
.bold {
    font-weight: 700;
}
.col-xs-5ths, .col-sm-5ths, .col-md-5ths, .col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
.col-sm-5ths {
    width: 20%;
    float: left;
}
}

@media (min-width: 992px) {
.col-md-5ths {
    width: 20%;
    float: left;
}
}

@media (min-width: 1200px) {
.col-lg-5ths {
    width: 20%;
    float: left;
}
}
.centerBlock {
    display: table;
    margin: auto;
}
.vcenter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.vbottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
/* width */
::-webkit-scrollbar {
 width: 4px;
height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
 background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
 background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
 background: #555;
}
/*	End Global */

/*  Site Specific Global  */

.letterSpacePlayfair {
    letter-spacing: 1px;
}
.letterSpaceFuturaBook {
    letter-spacing: 1.5px;
}
.letterSpaceFuturaDemi {
    letter-spacing: 4px;
}
/*  Checkbox Section  */

.newDealAddSponsorCheckboxRow {
    margin: 15px auto auto auto;
}
/* The container */
.checkContainer {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    /*    margin-bottom: 30px;*/
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*    margin-top: 30px;*/
    padding-top: 6px;
    margin: 35px auto 15px auto;
}
.checkContainerNoMargin {
    margin: 0 !important;
    padding-top: 20px !important;
}
/* Hide the browser's default checkbox */
.checkContainer input {
    position: absolute !important;
    opacity: 0 !important;
    cursor: pointer !important;
}
.checkLabel {
    display: block;
    width: 150px;
}
/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 50px;
    border: 2px solid #000000;
    box-sizing: border-box;
}
.checkmark + .checkmark {
    border: 1px solid #000000;
}
/* On mouse-over, add a grey background color */
.checkContainer:hover input ~ .checkmark {
    background-color: #ffffff;
}
/* When the checkbox is checked, add a blue background */
.checkContainer input:checked ~ .checkmark {
    background-color: #ffffff;
    border: 8px solid #2294E3;
}
/************************************/
/************************************/
/************************************/
/******  Transactions Sizing  *******/
/************************************/
/************************************/
/************************************/

.transSizingPanelDiv > .transSizingPanelRow {
    overflow-x: auto !important;
    white-space: nowrap !important;
}
.transSizingPanelRow {
    margin: auto;
    display: flex;
}
.transSizingPanelCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 2.5px;
}
.transSizingPanelCol {
    /*	margin: auto;*/
    text-align: center;
}
.transSizingPanelCol1, .transSizingPanelCol2 {
    background-color: #FAFAFA;
}
.transSizingInlineDiv p {
    margin: 0 5px;
    text-align: center;
    display: inline;
}
.transPercentPill {
    border-radius: 50px;
    padding: 2px 10px;
}
.transLoanNumberPerRoom {
    color: rgba(24, 46, 69, .5);
}
.transPercentPillYellow {
    background-color: #FDD859;
}
.transPercentPillRed {
    background-color: #D12C2C;
    color: #ffffff;
}

@media(min-width: 2500px) {
.transSizingPanelRow {
    width: 75%;
}
}

@media(max-width: 1850px) {
.transPercentPill {
    white-space: nowrap;
}
}

@media(min-width: 1367px) {
.transSizingPanelRow {
    /*    display: flex;*/
    width: 90%;
}
/*
.transSizingPanelCol {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
*/
.transPercentPill {
/*	display: inline;*/
}
}

@media(max-width: 1367px) {
.transSizingPanelCol {
    padding-top: 10px;
    padding-bottom: 10px;
}
}
/************************************/
/************************************/
/************************************/
/******  Loans Terms Sizing  ********/
/************************************/
/************************************/
/************************************/

label {
    margin: 0;
}
.transLoanTermsPanelTable {
    table-layout: auto;
    overflow-x: scroll;
    margin: auto;
    margin-bottom: 0 !important;
}
.transLoanTermsPanelDiv {
    padding: 5px 30px;
}
.transLoanTermsPanelDiv {
    display: flex;
    border-top: 2px solid #F5F5F5;
    border-bottom: 2px solid #F5F5F5;
    overflow-x: scroll;
    margin: 10px auto;
}
#transLoanTermsForm div {
/*    display: inline-block;*/
}
#transLoanTermsForm {
    margin: auto;/*	display: flex;*/
}
.transLoanTermsFormDiv {
    margin: 0 10px;
    position: relative;/*	display: inline;*/
}
.transLoanSizingInput {
/*
    padding: 2.5 13px !important;
    border: 1px solid rgba(112, 112, 112, .5);
    box-sizing: border-box !important;
    margin: 20px 0 0 0 !important;
    background-color: transparent;
    font-size: 13px;
    color: #000000;
    transition-duration: .4s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
*/
}
.transSelectBox {
    /*    width: 125px;*/
    padding: 2.5px 13px !important;
    border: 1px solid rgba(112, 112, 112, .5);
    /*
	background: url('../img/selectBoxBg.png') !important;
	background-position: left;
	background-size: cover;
	background-repeat: no-repeat;
*/
    box-sizing: border-box !important;
    /*    margin: 10px 0 0 0 !important;*/
    background-color: transparent;
    font-size: 16px;
    color: #2699FB;
    transition-duration: .4s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.transSelectBox option {
    color: #000000;
}
.transLoanTermsPanelInlineDiv {
    display: block !important;
}
.scheduleIcon {
    width: 20px;
    height: auto;
}
.downArrow {
    position: absolute;
    right: 15px;
    top: 30px;
    color: #2699FB;
}
.formLabels {
    color: #C1C0C0 !important;
    text-align: right;
}

@media(max-width: 1800px) {
}

@media(min-width: 1367px) {
.transLoanTermsPanelTable {
    width: 90%;
}
}

@media(max-width: 1367px) {
/*
#transLoanTermsForm input[type=text] {
    width: 100%;
}
.transSelectBox {
    width: 100%;
}
*/
}
/************************************/
/************************************/
/************************************/
/**********  Loans Sizing  **********/
/************************************/
/************************************/
/************************************/

.transLoanSizingTable1 {
    /*	table-layout: fixed;*/
    table-layout: auto;
    overflow: scroll;
}
.transLoanSizingDiv {
    border-top: 1px solid rgba(193, 192, 192, .29);
}
.transLoanSizingRow {
    /*	border-top: 1px solid rgba(193, 192, 192, .29);*/
    border-bottom: 1px solid rgba(193, 192, 192, .29);
    margin: auto;
}
.transLoanSizingCol {
}
.transLoanSizingCol1 {
    border-right: 1px solid rgba(193, 192, 192, .29);
    padding-top: 10px;
}
.transLoanSizingInput, .transLoanSizingSelectBox {
    width: 175px;
    padding: 2.5px 13px !important;
    border: 1px solid rgba(112, 112, 112, .5);
    box-sizing: border-box !important;
    margin: 0 !important;
    background-color: transparent;
    font-size: 16px;
    color: #000000;
    transition-duration: .4s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.transLoanSizingInput:hover, .transLoanSizingSelectBox:hover {
    border: 1px solid #2699FB;
    transition-duration: .4s;
}
.transLoanSizingInput::placeholder, .transLoanSizingSelectBox::placeholder {
 color: rgba(112, 112, 112, .5);
}
table > tbody > tr > td, .transLoanSizingTable1 > thead > tr > th {
    vertical-align: middle !important;
}
.borderless td, .borderless th {
    border: none !important;
}
.transLoanSizingTotalCostText {
    text-align: right;
    background-color: #F5F5F5;
}
.transLoanSizingSelectBox option {
    color: #000000;
}
.formLabelsLoanSizing {
    width: 100px;
}
.transLoanSizingLabel {
    color: #C1C0C0;
    font-size: 13px;
    text-align: right;
    display: block;
}
.formLabelBlack {
    color: #000000;
}
.transLoanSizingSelectDiv {
    position: relative;
}
.downArrowLoanSizing {
    position: absolute;
    right: 15px;
    top: 7.5px;
    color: #2699FB;
}

@media(min-width: 1921px) {
.transLoanSizingTable1 {
    width: 1000px;
    margin: auto;
}
}

@media(min-width: 1367px) {
.transLoanSizingRow {
    display: flex;
    width: 90%;
}
}
/*  Loan Sizing Column 2  */

.transLoanSizingTable2 > thead > tr > th {
    vertical-align: top !important;
    width: 150px;
}
.transLoanSizingTable2 thead {
    padding: 0 !important;
    margin: 0 !important;
}
.transLoanSizingTable2 tbody {
}
.transLoanSizingTable2 tr td {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin: 0 !important;
}
.transLoanSizingTable2 {
    /*	table-layout: fixed;*/
    table-layout: auto;
    width: 1000px;
    overflow: scroll;
}
.transLoanSizingSelectBoxNoBorderGrey {
    padding: 2.5px 0 !important;
    border: none;
    box-sizing: border-box !important;
    background-color: transparent;
    font-size: 13px;
    color: #C1C0C0;
    transition-duration: .4s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.transLoanSizingInputBlueBorder {
    width: 100%;
    padding: 2.5px 0 2.5px 5px !important;
    box-sizing: border-box !important;
    border: 1px solid #2699FB;
    /*        margin: 20px 0 0 0 !important;*/
    background-color: transparent;
    font-size: 13px;
    color: #000000;
    transition-duration: .4s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.transLoanSizingInputBlueBorderBlueText {
    /*    width: 100%;*/
    max-width: 100px;
    padding: 2.5px 5px 2.5px 0 !important;
    box-sizing: border-box !important;
    border: 1px solid #2699FB;
    background-color: transparent;
    font-size: 13px;
    color: #2699FB;
    transition-duration: .4s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: right;
}
.transLoanSizingInputBlueBorderBlueText::placeholder {
 color: #2699FB;
}
.transLoanSizingSelectBoxNoBorderBlack {
    width: 110px;
    padding: 2.5px 0 2.5px 0 !important;
    border: none;
    box-sizing: border-box !important;
    margin: 0 !important;
    background-color: transparent;
    color: #000000;
    transition-duration: .4s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 13px;
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
}
.downArrowLoanSizingNoBorder {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    color: #2699FB;
}
.downArrowLoanSizingNoBorder2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #2699FB;
}
.opaque {
    opacity: 0 !important;
}
/************************************/
/************************************/
/************************************/
/******  Transactions Tenancy  ******/
/************************************/
/************************************/
/************************************/

.tenantTitleDiv {
    background-color: rgba(235, 235, 235, .2);
    padding: 20px;
}
.tenantTitle {
    margin: 0;
    font-size: 18px;
}
.tenantTable > thead > tr > th {
    color: #C1C0C0;
    font-size: 14px;
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: right;
}
.tenantTable > tbody > tr > td {
    font-size: 16px;
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 600;
    text-align: right;
}
.tenantTableDiv {
    padding: 30px 15px;
}
.tenantDiv {
    padding: 60px 0;
}
.text-left {
    text-align: left !important;
}
/************************************/
/************************************/
/************************************/
/*****  Transactions Overview  ******/
/************************************/
/************************************/
/************************************/

.customContainer {
    max-width: 1250px
}
.overviewNavLinkDiv {
    /*    text-align: center;*/
    padding: 60px 0;/*    border: 2px solid #F5F5F5;*/
}
.overviewNavLink {
    text-decoration: none;
    color: #2699FB;
    font-size: 16px;
    margin: 0 30px 0 0;
}
.overviewNavLink:visited {
    color: #2699FB;
}
.overviewNavLink:hover {
    color: #000000;
}
.overviewNavLink:active {
    color: #000000;
}
.overviewNavLinkActive {
    color: #000000 !important;
}
/*  Summary Text  */

.summaryDiv {
    padding-bottom: 60px;
}
.summaryText {
    font-size: 16px;
}
/*  Strength/Weakness Section  */

.strengthWeaknessDiv {
    margin: auto;
    padding: 0 30px 60px 30px;
}
.strengthWeaknessRow {
    padding: 20px 0;
}
.strengthWeaknessText {
    overflow: hidden;
}
.strengthWeaknessCheckbox {
    float: left;
    width: 30px;
    height: auto;
}
.strengthWeaknessText {
    padding-left: 30px;
}
.strengthWeaknessTextBox {
    margin-top: 40px;
    height: 250px;
    width: 100%;
    text-align: left;
    padding: 15px 0 0 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #B6B6B6;
}
.strengthWeaknessTextBox::placeholder {
 color: #B6B6B6;
 font-size: 16px;
}
/************************************/
/************************************/
/************************************/
/*******  Snapshot Analysis   *******/
/************************************/
/************************************/
/************************************/

/************************************/
/*             Capital              */
/************************************/

.transSnapCapDiv {
    margin: auto;
}

@media(min-width: 1200px) {
.transSnapCapDiv {
    width: 60%;
    padding: 60px 0;
}
}

@media(max-width: 1200px) {
.transSnapCapDiv {
    padding: 30px;
}
}
.transSnapCapTable {
    margin: auto;
}
.transSnapCapTable> thead> tr> th {
    color: #C1C0C0;
    font-size: 14px;
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 400;/*    padding-left: 60px;*/
}
.transSnapCapTable> tbody> tr> td {
    font-size: 16px;
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #f5f5f5;
}

@media(max-width: 1200px) {
.transSnapCapTable> thead> tr> th {
    padding-right: 60px;
}
.transSnapCapTable> tbody> tr> td {
    padding: 20px 60px 20px 0;
}
}
/*  Input Section  */

.transSnapCapTierRow {
    background-color: rgba(235, 235, 235, .2);
}

@media(min-width: 1200px) {
.transSnapCapTierRow {
    display: flex;
}
}

@media(max-width: 1200px) {
.transSnapCapTierRow {
    margin-top: 30px;
}
.transSnapCapTierAddButton {
    margin: auto;
}
.transSnapCapTierAddShortfall {
    text-align: center !important;
}
}
.transSnapCapTierCol {
    margin: auto 0;
}
.transSnapCapTierCol1 {
    padding: 0;
}
.transSnapCapTierAddButton {
    display: block;
    background-color: #035699;
    border: 1px solid #035699;
    padding: 20px;
    width: 250px;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
}
.transSnapCapTierAddButton:hover {
    color: #2699FB !important;
    background-color: transparent !important;
}
.transSnapCapTierAddAmount {
    margin: 0;
    text-align: center;
}
.transSnapCapTierAddShortfall {
    margin: 0;
    text-align: right;
    color: #707070;
}
.transSnapCapTierAddShortfallAmount {
    color: #000000;
}
.transSnapCapInputHeader {
    background-color: rgba(235, 235, 235, .2);
    display: block;
    padding: 15px 0 15px 15px;
    margin: 60px 0;
}
.transSnapCapInputCol {
    padding-left: 0;
    padding-bottom: 20px;
    margin: auto;
}

@media(max-width: 1200px) {
.transSnapCapInputHeader {
    margin: 30px 0;
}
.transSnapCapInputCol {
    padding: 0 0 10px 0;
}
}
.transSnapCapInput {
    width: 100%;
    padding: 5px !important;
    border: 1px solid rgba(112, 112, 112, .5);
    box-sizing: border-box !important;
    margin: auto !important;
    background-color: transparent;
    font-size: 16px;
    color: #000000;
    transition-duration: .4s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
 .transSnapCapInputBlue::placeholder {
 color: #2699FB !important;
}
 .transSnapCapInput::placeholder {
 color: rgba(112, 112, 112, .5);
}
.transSnapCapInput:hover {
    border: 1px solid #2699FB;
    transition-duration: .4s;
}
.transSnapCapInputLabel {
    color: rgba(112, 112, 112, .5);
    margin: 0;
    padding-bottom: 10px;
}
.transSnapCapInputSelect {
    color: #2699FB;
    margin: 0 !important;
    padding: 5px !important;
}
.transSnapCapInputSelect:hover {
    border: 1px solid #2699FB;
}
.transSnapCapViewAmmort {
    color: #2699FB;
    text-decoration: none;
    text-align: right;
    display: block;
    font-size: 18px;
    margin: 30px 0 0 0;
}
/************************************/
/*           Sources & Uses         */
/************************************/

.transSnapSourceDiv {
    margin: auto;
}

@media(min-width: 1200px) {
.transSnapSourceDiv {
    width: 75%;
}
}

@media(max-width: 1200px) {
.transSnapSourceDiv {
    padding: 30px;
}
}
.transSnapCapTable {
    margin: auto;
    table-layout: auto;
}
.transSnapSourceTable> thead> tr> th {
    color: #C1C0C0;
    font-size: 16px;
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 400;
    background-color: rgba(235, 235, 235, .2);
    padding: 15px 0 15px 15px;
}
.transSnapSourceTableTotal> thead> tr> th {
    color: #C1C0C0;
    font-size: 16px;
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 400;
    padding: 0 0 15px 15px;
}
.transSnapSourceTable> tbody> tr> td {
    font-size: 16px;
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 600;
    padding: 15px 0 15px 15px;
    border-bottom: 2px solid #f5f5f5;
}
.transSnapSourceTableTotal {
    margin-top: 20px !important;
}
.transSnapSourceTableTotal> tbody> tr> td {
    font-size: 16px;
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 600;
    padding: 15px 0 15px 15px;
    border-top: 2px solid #f5f5f5;
}
.transSnapSourceTableTotal> tbody> tr> th {
    font-size: 16px;
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 600;
    padding: 15px 0 15px 15px;
    border-top: 2px solid #f5f5f5;
    color: #C1C0C0;
}
.transSnapSourceSelect {
    color: #B6B6B6;
    margin: 0 !important;
    padding: 15px !important;
}
.transSnapSourceSelect:hover {
    border: 1px solid #2699FB;
}
.transSnapSourceTextArea {
    width: 100%;
    padding: 15px 5px 5px 15px !important;
    border: 1px solid rgba(112, 112, 112, .5);
    box-sizing: border-box !important;
    margin: 60px auto auto auto !important;
    background-color: transparent;
    font-size: 16px;
    color: #000000;
    transition-duration: .4s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.transSnapSourceTextArea {
    height: 200px;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 12px 0 0 12px;
    font-size: 16px;
    color: #000000;
}
.transSnapSourceTextArea::placeholder {
 color: rgba(112, 112, 112, .5);
}
/************************************/
/*       Portfolio Cost Basis       */
/************************************/

.transSnapPortDiv {
    margin: auto;
}

@media(min-width: 1200px) {
.transSnapPortDiv {
    width: 75%;
}
}

@media(max-width: 1200px) {
.transSnapPortDiv {
    padding: 30px;
}
}
.transSnapPortTable {
    margin: auto;
    table-layout: auto;
}
.transSnapPortTable> thead> tr> th {
    color: #C1C0C0;
    font-size: 16px;
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 400;
    background-color: rgba(235, 235, 235, .2);
    padding: 15px 0 15px 15px;
}
.transSnapPortTable> tbody> tr> td {
    font-size: 16px;
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 600;
    padding: 15px 0 15px 15px;
    border-bottom: 2px solid #f5f5f5;
}
.transSnapPortTable> tbody> tr> th {
    font-size: 16px;
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 600;
    padding: 15px 0 15px 15px;
    color: #C1C0C0;
}

/*  Right Column  */

@media(min-width: 1200px) {
.transSnapPortCol {
    padding: 60px;
}
}
.transSnapPortHeader {
    margin: 0;
}
.transSnapPortHeaderText {
    color: #C1C0C0;
    margin-top: 15px;
}
.transSnapPortHeaderTextType {
    color: #000000;
    display: inline;
    margin-left: 30px;
}
.transSnapPortTableRight> thead> tr> th {
    color: #C1C0C0;
    font-size: 16px;
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 400;
    padding: 0 0 15px 0;
}
.transSnapPortTableRight> tbody> tr> td {
    font-size: 16px;
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 600;
    padding: 0 0 15px 60px;
}
.transSnapPortTableRight> tbody> tr> th {
    font-size: 16px;
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 600;
    padding: 0 0 15px 0;
    color: #C1C0C0;
}
.blackColor {
    color: #000000 !important;
}
.transSnapPortTableRightBorder {
    border-bottom: 2px solid #f5f5f5;
}
/************************************/
/************************************/
/************************************/
/******  Checklist & Updates   ******/
/************************************/
/************************************/
/************************************/

/************************************/
/*         Status Updates           */
/************************************/

.panel-default {
    background-color: transparent !important;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.sideNavSection {
    margin: auto;
}
.transCheckSeniorDiv {
    margin: auto;
}

@media(min-width: 1200px) {
.sideNavSection {
    width: 75%;
}
.transCheckSeniorDiv {
    width: 75%;
    padding: 0 15px 60px 15px;
}
}

@media(max-width: 1200px) {
.sideNavSection {
    padding: 0 30px;
    margin: 0;
}
.transCheckSeniorDiv {
    padding: 0 30px;
}
}
.transCheckSeniorStatusRow {
    padding: 0 0 30px 0;
    position: relative;
}
.transCheckSeniorCheckMark {
    width: 45px;
    height: auto;
    position: absolute;
    top: -10px;
    left: 0;
}
.transCheckSeniorStatusDiv {
    position: relative;
    padding-left: 60px;
}
.transCheckSeniorStatusClose {
    text-decoration: none;
    color: #2294E3;
    position: absolute;
    top: -10px;
    right: 0;
    font-size: 24px;
}
.transCheckSeniorStatusDate {
    color: #C1C0C0;
}
/*  Input Col  */

.transCheckSeniorCol2 {
    padding: 0 60px;
}

@media(max-width: 1200px) {
.transCheckSeniorCol2 {
    padding: 30px 30px 45px 30px;
}
}
.transCheckInput {
    width: 100%;
    padding: 15px !important;
    border: 1px solid rgba(112, 112, 112, .5);
    box-sizing: border-box !important;
    margin: auto !important;
    background-color: transparent;
    font-size: 16px;
    color: #000000;
    transition-duration: .4s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
 .transCheckInputBlue::placeholder {
 color: #2699FB !important;
}
 .transCheckInput::placeholder {
 color: rgba(112, 112, 112, .5);
}
.transCheckInput:hover {
    border: 1px solid #2699FB;
    transition-duration: .4s;
}
.transCheckInputSelect {
    color: #2699FB;
    margin: 0 !important;
    padding: 15px !important;
}
.transCheckInputSelect:hover {
    border: 1px solid #2699FB;
}
.transCheckSeniorInputCol {
    padding: 0 0 20px 0;
}
.transCheckSeniorInputTextArea {
    width: 100%;
    padding: 15px 5px 5px 15px !important;
    border: 1px solid rgba(112, 112, 112, .5);
    box-sizing: border-box !important;
    margin: auto !important;
    background-color: transparent;
    font-size: 16px;
    color: #000000;
    transition-duration: .4s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 200px;
}
 .transCheckSeniorInputTextArea::placeholder {
 color: rgba(112, 112, 112, .5);
}
/*  Equity  */

.transCheckEquityDiv {
    margin: auto;
}

@media(min-width: 1200px) {
.transCheckEquityDiv {
    width: 75%;
}
}

@media(min-width: 1200px) {
.transCheckEquityDiv {
    padding: 0 30px;
}
}
.panel-default {
    border-radius: 0 !important;
}
.panel-heading {
    position: relative;
    border-radius: 0;
    background-color: rgba(235, 235, 235, .2);
}
.panel-heading:hover {
    cursor: pointer;
}
.transCheckEquityArrow {
    position: absolute;
    top: 15px;
    right: 15px;
}
.transCheckEquityCompleted {
    color: #6FC385;
}
.transCheckEquityVerification {
    color: #035699;
}
.transCheckEquityInitiated {
    color: #C4B541;
}
.transCheckEquityNotInitiated {
    color: #A52F2F;
}
.transCheckEquityUpdate {
    color: #2294E3;
    text-decoration: none;
}
.transCheckEquityClose {
    color: #2294E3;
    text-decoration: none;
    font-size: 24px;
}
/************************************/
/*            Checklist             */
/************************************/

.transCheckListHeaderCol {
    padding-bottom: 30px;
}
.transCheckListHeader {
    margin: 15px 0 0 0;
}
.transCheckListReminderLinkDiv {
    text-align: right;
}
.transCheckListReminderLink {
    margin: 10px;
    display: inline-block;
    color: #2699FB;
}
.transCheckListReminderLink2 {
    margin-left: 20px;
}
.transCheckListReminderIcon {
    width: 20px;
    height: auto;
}
.transCheckListInputCol {
    position: relative;
}
.transCheckListInputLabel {
    position: absolute;
    top: 15px;
    left: 30px;
    margin: 0;
    font-size: 16px;
}
.transCheckListInputEdit {
    position: absolute;
    top: 18px;
    right: 30px;
    text-decoration: none;
    color: #2699FB;
    font-size: 12px;
}
.transCheckListInputEdit:hover {
    color: #000000;
}
.transCheckListInput {
    width: 100%;
    padding: 15px !important;
    border: 1px solid rgba(112, 112, 112, .5);
    box-sizing: border-box !important;
    /*    margin: 20px 0 0 0 !important;*/
    background-color: transparent;
    font-size: 16px;
    color: #000000;
    propition-duration: .4s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.transCheckListInput::placeholder {
 color: #000000 !important;
 text-align: right;
 padding-right: 60px;
 font-size: 20px;
}
.transCheckListInput:hover {
    border: 1px solid #2699FB;
    propition-duration: .4s;
}
.transCheckListInput::placeholder {
 color: rgba(112, 112, 112, .5);
}
.transCheckListInput:disabled {
    background: #ffffff;
}
.transCheckListInputFileDiv {
    margin-top: 20px;
}
.transCheckListInputFile {
    margin-top: 15px;
    position: absolute;
    opacity: 0;
}
.transCheckListInputTextArea {
    width: 100%;
    padding: 15px 5px 5px 15px !important;
    border: 1px solid rgba(112, 112, 112, .5);
    box-sizing: border-box !important;
    margin: 20px auto auto auto !important;
    background-color: transparent;
    font-size: 16px;
    color: #000000;
    transition-duration: .4s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 150px;
    resize: none;
}
 .transCheckListInputTextArea::placeholder {
 color: rgba(112, 112, 112, .5);
}
/************************************/
/*         Communication            */
/************************************/

.transCheckCommDiv {
    margin: auto;
}

@media(min-width: 1200px) {
.transCheckCommDiv {
    width: 75%;
    padding: 60px 0 !important;
}
.transCheckCommHeaderTextRight {
    text-align: right;
}
}

@media(max-width: 1200px) {
.transCheckCommDiv {
    padding: 30px;
}
}
/*  Table  */

.transCheckCommHeaderRow {
    display: flex;
    /*	margin-top: 5px;*/
    padding: 0;
}
.transCheckCommHeader {
    margin: 0;
}
.transCheckCommHeaderStatus {
    display: block;
    text-decoration: none;
    width: 100%;
    padding: 2.5px;
    margin: 0;
    text-align: center;
}
.transCheckCommHeaderStatusOpen {
    background-color: #ffffff;
}
.transCheckCommHeaderStatusClosed {
    background-color: #182E45;
    color: #ffffff;
}
.greyColor {
    color: #C1C0C0;
}
.transCheckCommInfoRow {
    padding: 10px 0 20px 0;
}
.transCheckCommButtonDiv {
    margin-top: 30px;
}
.transCheckCommButton {
    display: inline-block;
    background-color: #2699FB;
    padding: 15px 0;
    width: 200px;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    border: 1px solid #2699FB;
}
.transCheckCommButton:hover {
    background-color: transparent;
    color: #2699FB;
}
.transCheckCommButton2 {
    margin-left: 15px;
}
.transCheckCommDocButton {
    display: inline-block;
    background-color: #035699;
    padding: 15px 0;
    width: 200px;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    border: 1px solid #035699;
    margin-top: 15px;
}
.transCheckCommDocButton:hover {
    background-color: transparent;
    color: #035699;
}
/************************************/
/************************************/
/************************************/
/*********  Broker/Lender   *********/
/************************************/
/************************************/
/************************************/

.transAgreeTable {
    margin: auto;
}
.transAgreeTable> thead> tr> th {
    color: #C1C0C0;
    font-size: 16px;
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 400;
    padding: 0 30px 15px 30px;
}
.transAgreeTable> tbody> tr> td {
    font-size: 16px;
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 600;
    padding: 0 30px 15px 30px;
}
.transAgreeTable> tbody> tr> th {
    font-size: 16px;
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 600;
    /*    padding: 0 0 15px 0;*/
    color: #C1C0C0;
}
.transAgreeDiv {
    margin: auto;
}

@media(min-width: 1200px) {
.transAgreeDiv {
    width: 75%;
    padding: 60px 0 !important;
}
}

@media(max-width: 1200px) {
.transAgreeDiv {
    padding: 30px;
}
}
/*  Table  */

.transAgreeTableTitles {
    position: absolute;
    top: 10px;
    left: 75%;
    z-index: 1;
    color: #000000;
}
.transAgreeTable> thead> tr> th {
    padding-top: 35px;
}
.transAgreeGreyBg {
    background-color: #fafafa;
    position: relative;
}
.transAgreeStatusBlue {
    color: #2294E3;
}
.transAgreeStatusGreen {
    color: #6FC385;
}
.transAgreeNotifImg {
    width: 20px;
    height: auto;
}
.transAgreeClose {
    font-size: 24px;
    text-decoration: none;
    color: #2294E3;
}
.transAgreeClose:hover {
    color: #000000;
}
/*				Content Section  */
				
.transAgreeContentRow {
    padding-top: 60px;
}
.transAgreeContentCol2 {
    padding-top: 30px;
}

@media(min-width: 1200px) {
.transAgreeContentCol2 {
    padding: 30px 60px;
}
}
.transAgreeInputLabel {
    color: #C1C0C0;
}
.transAgreeContentImg {
    width: 100%;
    height: auto;
}
.transAgreeContentCreate {
    text-decoration: none;
    color: #2294E3;
    text-align: right;
    margin-bottom: 20px;
    display: block;
}
.transAgreeContentCreate:hover {
    colo: #000000;
}
.transAgreeContentFormDiv {
    margin-bottom: 20px;
}
.transAgreeContentInputDiv {
    position: relative;
}
.transAgreeInputEdit {
    position: absolute;
    top: 18px;
    right: 30px;
    text-decoration: none;
    color: #2699FB;
    font-size: 12px;
}
.transAgreeInputEdit:hover {
    color: #000000;
}
.transAgreeInput {
    width: 100%;
    padding: 15px !important;
    border: 1px solid rgba(112, 112, 112, .5);
    box-sizing: border-box !important;
    /*    margin: 20px 0 0 0 !important;*/
    background-color: transparent;
    font-size: 16px;
    color: #000000;
    propition-duration: .4s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.transAgreeInput::placeholder {
 color: #000000 !important;
 padding-right: 60px;
 font-size: 20px;
}
.transAgreeInput:hover {
    border: 1px solid #2699FB;
    propition-duration: .4s;
}
.transAgreeInput::placeholder {
 color: rgba(112, 112, 112, .5);
}
.transAgreeInput:disabled {
    background: #ffffff;
}
.transAgreeInputSelect {
    color: #2699FB;
    margin: 0 !important;
    padding: 15px !important;
}
.transAgreeInputSelect:hover {
    border: 1px solid #2699FB;
}
.transAgreeInputButton {
    font-size: 12px;
}
/************************************/
/************************************/
/************************************/
/************  Sponsors   ***********/
/************************************/
/************************************/
/************************************/

.transSponsorDiv {
    margin: auto;
}

@media(min-width: 1200px) {
.transSponsorDiv {
    width: 75%;
    padding: 60px 0 !important;
}
}

@media(max-width: 1200px) {
.transSponsorDiv {
    padding: 30px;
}
}
/************************************/
/************************************/
/************************************/
/********  Loan Comparables   *******/
/************************************/
/************************************/
/************************************/

.transCompDiv {
    margin: auto;
}

@media(min-width: 1200px) {
.transCompDiv {
    width: 75%;
    padding: 60px 0 !important;
}
}

@media(max-width: 1200px) {
.transCompDiv {
    padding: 30px;
}
}
/*  Table  */

.transCompTable {
    margin: auto;
}
.transCompTable> thead> tr> th {
    color: #C1C0C0;
    font-size: 16px;
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 400;
    padding: 0 30px 15px 30px;
}
.transCompTable> tbody> tr> td {
    font-size: 16px;
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 600;
    padding: 0 30px 15px 30px;
}
.transCompTable> tbody> tr> th {
    font-size: 16px;
    font-family: "futura-pt", sans-serif;
    font-style: normal;
    font-weight: 600;
    /*    padding: 0 0 15px 0;*/
    color: #C1C0C0;
}
/*  Row Section  */

.transCompImg {
    width: 100%;
    height: auto;
}
.transCompRow {
    margin-top: 60px;
}
.transCompCol2 {
    background-color: #FAFAFA;
}
.transCompTextDiv {
    margin: auto 0;
}
.transCompText {
    padding: 10px 0;
}
.transCompValueTextDiv {
    margin: auto 0;
    width: 100%;
}
.transCompValueText {
    color: #C1C0C0;
    padding: 10px 0;
    display: block;
}
.transCompValueTextBlack {
    color: #000000;
}

@media(min-width: 1200px) {
.transCompRow {
    display: flex;
}
.transCompCol2 {
    display: flex;
}
.transCompCol3 {
    display: flex;
}
}

@media(max-width: 1200px) {
.transCompCol2 {
    padding-top: 30px;
}
.transCompCol3 {
    padding-top: 30px;
}
}
