<div class="square-list">
  <div class="square-list-item">
    <div class="score-icon orange"></div>
    <h3>Walk Score</h3>
    <p class="score-count orange">99</p>
    <h5>Walker's paradise</h5>
  </div>
  <div class="square-list-item">
      <div class="score-icon blue"></div>
    <h3>Walk Score</h3>
    <p class="score-count blue">56</p>
    <h5>Bikeable</h5>
    
  </div>
  <div class="square-list-item">
      <div class="score-icon green"></div>
    <h3>Walk Score</h3>
    <p class="score-count green">88</p>
    <h5><span>Excellent Transit</span> 45 nearby routes: 43 bus, 2 rail, 0 other</h5>
    
  </div>
</div>

<div class="search-wrapper">
  <h3 class="search-title">CLR Search</h3>
  <table class="table">
    <thead>
      <tr>
        <th class="text-left">2012 CRIME RATE INDEXES</th>
        <th>CLEVELAND, OH 44114</th>
        <th>OH</th>
        <th>UNITED STATES</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td>Total Crime Risk Index</td>
          <td class="text-center">192</td>
          <td class="text-center">-</td>
          <td class="text-center">100</td>
        </tr>
        <tr>
          <td>Murder Risk Index</td>
          <td class="text-center">188</td>
          <td class="text-center">-</td>
          <td class="text-center">100</td>
        </tr>
        <tr>
          <td>Rape Risk Index</td>
          <td class="text-center">188</td>
          <td class="text-center">-</td>
          <td class="text-center">100</td>
        </tr>
        <tr>
          <td>Robbery Risk Index</td>
          <td class="text-center">158</td>
          <td class="text-center">-</td>
          <td class="text-center">100</td>
        </tr>
        <tr>
          <td>Assault Risk Index</td>
          <td class="text-center">187</td>
          <td class="text-center">-</td>
          <td class="text-center">100</td>
        </tr>
        <tr>
          <td>Burglary Risk Index</td>
          <td class="text-center">176</td>
          <td class="text-center">-</td>
          <td class="text-center">100</td>
        </tr>
        <tr>
          <td>Larceny Risk Index</td>
          <td class="text-center">167</td>
          <td class="text-center">-</td>
          <td class="text-center">100</td>
        </tr>
        <tr>
          <td>Motor Vehicle Theft Risk Index</td>
          <td class="text-center">187</td>
          <td class="text-center">-</td>
          <td class="text-center">100</td>
        </tr>
      </tbody>
  </table>
</div>