* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#iz0k {
    height: 100%;
}

#ih6g {
    height: 236px;
    padding: 0 0 0 0;
    position: absolute;
    bottom: 15%;
}

#i6ro {
    width: 8.2px;
}

#is0x {
    width: 188.2px;
}

.c956 {
    width: 238px;
    height: 155px;
    margin: 60px 0 0 60px;
}

.gjs-row {
    display: table;
    padding: 10px;
    width: 100%;
}

.gjs-cell {
    width: 8%;
    display: table-cell;
    height: 75px;
}

@media (max-width: 768px) {
    .gjs-cell {
        width: 100%;
        display: block;
    }

    .gjs-cell {
        width: 100%;
        display: block;
    }
}
